:root {
  --ld-layer-0: var(--ld-col-neutral-050);
  --ld-layer-1: var(--ld-col-neutral-010);
  --ld-layer-2: var(--ld-col-wht);
  --ld-layer-text: var(--ld-col-neutral-900);

  &.ld-dark {
    --ld-layer-0: var(--ld-col-neutral-010);
    --ld-layer-1: var(--ld-col-neutral-050);
    --ld-layer-2: var(--ld-col-neutral-100);
    --ld-layer-text: var(--ld-col-wht);
  }
}
