@define-mixin docs-example-ui-light {
  .docs-example__code {
    background-color: var(--ld-col-bg-lg);
  }

  .docs-example__tools {
    background-color: var(--ld-col-rblck1);
    border-color: var(--ld-col-rblck1);
    stroke: var(--ld-col-rblck-default);

    .ld-button {
      filter: none;
    }
  }
}
@define-mixin docs-example-ui-dark {
  .docs-example__code {
    background-color: var(--ld-col-rblck-default);
  }

  .docs-example__tools {
    background-color: var(--ld-col-rblck4);
    border-color: var(--ld-col-rblck4);
    stroke: var(--ld-col-wht);

    .ld-button {
      filter: invert(1) hue-rotate(180deg);
    }
  }
}

@mixin docs-example-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-example-ui-dark;
}
.docs-ui-dark {
  @mixin docs-example-ui-dark;
}
.docs-ui-light {
  @mixin docs-example-ui-light;
}

.docs-example {
  display: block;
}

.docs-example__code {
  border-bottom-left-radius: var(--ld-sp-8);
  border-bottom-right-radius: var(--ld-sp-8);
  overflow: hidden;
  display: none;
}

.docs-example__tools {
  padding: 0 var(--ld-sp-8);
  height: 3rem;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: var(--ld-sp-8);
  border-bottom-right-radius: var(--ld-sp-8);

  .docs-web-css-switch {
    margin-right: auto;
  }

  > :not(:first-child) {
    margin-left: var(--ld-sp-12);
  }
}

.docs-example__show {
  background-color: var(--ld-col-bg-lg);
  color: var(--ld-col-rblck-default);
  border: 1px solid var(--ld-col-rblck1);
  border-bottom-width: 0;
  border-top-left-radius: var(--ld-sp-8);
  border-top-right-radius: var(--ld-sp-8);
  padding: 0 var(--ld-sp-8) var(--ld-sp-24);

  @media (max-width: 48rem) {
    padding: 0 0 var(--ld-sp-24);
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;

    > * {
      margin: var(--ld-sp-24) var(--ld-sp-24) 0;
    }
  }
}
.docs-example__show--stacked {
  > div {
    flex-direction: column;
  }
}

.docs-example--code-visible {
  .docs-example__tools {
    border-radius: 0;
  }

  .docs-example__code {
    display: block;
  }
}

.docs-example--web-component {
  [slot='showCssComponent'],
  [slot='codeCssComponent'] {
    display: none;
  }
}

.docs-example--css-component {
  [slot='show'],
  [slot='code'] {
    display: none;
  }
}
