:root {
  --ld-select-popper-max-height: calc(100vh - 1.25rem);
  --ld-select-min-width: 12rem;
  --ld-select-min-height: 2.5rem;
}

:where(.ld-select) {
  display: inline-flex;
  min-height: var(--ld-select-min-height);
}

:where(.ld-select:not(.ld-select--inline):not(.ld-select--ghost)) {
  min-width: var(--ld-select-min-width);
}

.ld-select__select,
.ld-select__btn-trigger {
  width: 100%;
}

.ld-select__btn-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: var(--ld-typo-body-m);
  border: 0;
  outline: none;
  padding: var(--ld-sp-8) var(--ld-sp-12);
  border-radius: var(--ld-br-m);
  height: 100%;
  user-select: none;
  touch-action: manipulation;
  color: var(--ld-col-rblck-default);
  background-color: var(--ld-col-wht);
  line-height: 1;
  text-align: left;
  -webkit-touch-callout: none;

  &:where([aria-expanded='false']),
  &:where(.ld-select__btn-trigger--detached) {
    &:where(:not(.ld-select__btn-trigger--ghost)) {
      box-shadow: inset 0 0 0 0.1rem var(--ld-col-rblck1);
    }
  }

  &:where([aria-expanded='true']) {
    z-index: 2;

    &:not(:focus:focus-visible):not(.ld-select__btn-trigger--detached) {
      box-shadow: none;
    }
  }

  :where([aria-disabled='true']) {
    color: var(--ld-col-rblck1);
  }

  &:where(:not([aria-disabled='true'])) {
    cursor: pointer;

    @media (hover: hover) {
      &:hover:not(:focus) {
        box-shadow: inset 0 0 0 0.1rem var(--ld-col-rblck2);
      }
    }
  }

  .ld-select--ghost & {
    background-color: transparent;

    &:not(:focus) {
      box-shadow: none;
    }
  }
}

.ld-select__btn-trigger-text,
.ld-select__selection-list {
  flex-grow: 1;
}

.ld-select__btn-trigger-text {
  font: var(--ld-typo-label-m);
  padding: var(--ld-sp-6) var(--ld-sp-8) var(--ld-sp-6) 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: calc(100% + var(--ld-sp-12));
  margin: calc(-1 * var(--ld-sp-6)) 0;

  :where(.ld-select__btn-trigger[aria-disabled='true']) & {
    color: var(--ld-col-rblck1);
  }
}

.ld-select__selection-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: var(--ld-sp-4);
  margin-bottom: calc(-1 * var(--ld-sp-4));
  overflow: hidden;
}

.ld-select__selection-list-item {
  flex: 0 1;
  margin-right: var(--ld-sp-4);
  margin-bottom: var(--ld-sp-4);
  width: 100%;
}

.ld-select__btn-clear-single,
.ld-select__btn-clear {
  border: 0;
  outline: none;
  padding: 0;
  border-radius: var(--ld-br-full);
  user-select: none;
  touch-action: manipulation;
  background-color: transparent;
  line-height: 0;
  -webkit-touch-callout: none;

  &:disabled {
    color: var(--ld-col-rblck1);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.ld-select__btn-clear-single {
  z-index: 1;
}

.ld-select__selection-label {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  color: var(--ld-col-wht);
  font: var(--ld-typo-label-s);
  font-weight: bold;
  padding: var(--ld-sp-4) var(--ld-sp-6);
}

.ld-select__selection-label-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ld-br-m);

  :where(.ld-select__btn-trigger[aria-disabled='true']) & {
    background-color: var(--ld-col-rblck1);
  }
}

.ld-select__selection-label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.ld-select__btn-clear-single-icon {
  --ld-select-btn-clear-single-size: 0.75rem;
  width: var(--ld-select-btn-clear-single-size);
  height: var(--ld-select-btn-clear-single-size);
  margin-left: var(--ld-sp-6);
}

.ld-select__btn-clear {
  margin-right: var(--ld-sp-6);
  flex-shrink: 0;
}

.ld-select__btn-clear-icon {
  --ld-select-btn-clear-size: 1.25rem;
  width: var(--ld-select-btn-clear-size);
  height: var(--ld-select-btn-clear-size);
}

.ld-select [slot='icon'] + .ld-select__btn-trigger-icon {
  display: none;
}

.ld-select__btn-trigger-icon,
.ld-select [slot='icon'] {
  width: var(--ld-sp-16);
  height: var(--ld-sp-16);
  flex-shrink: 0;
  display: grid;
  place-content: center;

  :where(.ld-select__btn-trigger[aria-disabled='true']) & {
    color: var(--ld-col-rblck1);
  }
}

.ld-select__btn-trigger-icon--rotated {
  transform-origin: center;
  transform: rotate(180deg);
}

/* .ld-theme-ocean -> default */
:not([class*='ld-theme']),
.ld-theme-ocean,
[class*='ld-theme'] .ld-theme-ocean {
  :where(.ld-select:not([disabled])) {
    :where(.ld-select__btn-trigger) {
      &:where(:focus:focus-visible) {
        box-shadow: inset 0 0 0 0.1rem var(--ld-thm-ocean-bg-primary);
      }
    }
  }

  :where(.ld-select:not([disabled]):not([aria-disabled='true'])) {
    :where(.ld-select__btn-trigger) {
      .ld-select__btn-clear,
      .ld-select__btn-trigger-icon,
      [slot='icon'] {
        color: var(--ld-thm-ocean-bg-primary);
      }

      @media (hover: hover) {
        &:where(:hover) {
          &.ld-select__btn-trigger--ghost:not(:focus) {
            background-color: var(--ld-col-rb-a01);
          }

          .ld-select__btn-trigger-icon,
          [slot='icon'] {
            color: var(--ld-col-rb-hover);
          }
        }
      }
      &:where(:focus:focus-visible) {
        box-shadow: inset 0 0 0 0.1rem var(--ld-thm-ocean-bg-primary);

        .ld-select__btn-trigger-icon,
        [slot='icon'] {
          color: var(--ld-col-rb-focus);
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        &:where(.ld-select__btn-trigger--ghost) {
          background-color: var(--ld-col-rb-a02);
        }

        .ld-select__btn-trigger-icon,
        [slot='icon'] {
          color: var(--ld-col-rb-active);
        }
      }

      .ld-select__selection-label-bg {
        background-color: var(--ld-thm-ocean-bg-primary);
      }
    }

    .ld-select__btn-clear {
      &:where(:focus:focus-visible) {
        color: var(--ld-col-rb-focus);
      }
      @media (hover: hover) {
        &:where(:hover) {
          color: var(--ld-col-rb-hover);
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        color: var(--ld-col-rb-active);
      }
    }

    .ld-select__btn-clear-single {
      &:where(:focus:focus-visible) + .ld-select__selection-label-bg {
        background-color: var(--ld-col-rb-focus);
      }

      &:where(:active),
      &:where(:active:focus-visible) {
        + .ld-select__selection-label-bg {
          background-color: var(--ld-col-rb-active);
        }
      }
    }
  }
}

.ld-theme-bubblegum,
[class*='ld-theme'] .ld-theme-bubblegum,
.ld-theme-shake,
[class*='ld-theme'] .ld-theme-shake,
.ld-theme-solvent,
[class*='ld-theme'] .ld-theme-solvent {
  :where(.ld-select:not([disabled])) {
    :where(.ld-select__btn-trigger) {
      &:where(:focus:focus-visible) {
        box-shadow: inset 0 0 0 0.1rem var(--ld-col-rp-default);
      }
    }
  }

  :where(.ld-select:not([disabled]):not([aria-disabled='true'])) {
    :where(.ld-select__btn-trigger) {
      .ld-select__btn-clear,
      .ld-select__btn-trigger-icon,
      [slot='icon'] {
        color: var(--ld-col-rp-default);
      }

      &:where(:focus:focus-visible) {
        .ld-select__btn-trigger-icon,
        [slot='icon'] {
          color: var(--ld-col-rp-focus);
        }
      }
      @media (hover: hover) {
        &:where(:hover) {
          &.ld-select__btn-trigger--ghost:not(:focus) {
            background-color: var(--ld-col-rp-a01);
          }

          .ld-select__btn-trigger-icon,
          [slot='icon'] {
            color: var(--ld-col-rp-hover);
          }
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        &:where(.ld-select__btn-trigger--ghost) {
          background-color: var(--ld-col-rp-a02);
        }

        .ld-select__btn-trigger-icon,
        [slot='icon'] {
          color: var(--ld-col-rp-active);
        }
      }

      .ld-select__selection-label-bg {
        background-color: var(--ld-col-rp-default);
      }
    }

    .ld-select__btn-clear {
      &:where(:focus:focus-visible) {
        color: var(--ld-col-rp-focus);
      }
      @media (hover: hover) {
        &:where(:hover) {
          color: var(--ld-col-rp-hover);
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        color: var(--ld-col-rp-active);
      }
    }

    .ld-select__btn-clear-single {
      &:where(:focus:focus-visible) + .ld-select__selection-label-bg {
        background-color: var(--ld-col-rp-focus);
      }

      &:where(:active),
      &:where(:active:focus-visible) {
        + .ld-select__selection-label-bg {
          background-color: var(--ld-col-rp-active);
        }
      }
    }
  }
}

.ld-theme-tea,
[class*='ld-theme'] .ld-theme-tea {
  :where(.ld-select:not([disabled])) {
    :where(.ld-select__btn-trigger) {
      &:where(:focus:focus-visible) {
        box-shadow: inset 0 0 0 0.1rem var(--ld-thm-tea-bg-primary);
      }
    }
  }

  :where(.ld-select:not([disabled]):not([aria-disabled='true'])) {
    :where(.ld-select__btn-trigger) {
      .ld-select__btn-clear,
      .ld-select__btn-trigger-icon,
      [slot='icon'] {
        color: var(--ld-thm-tea-bg-primary);
      }

      &:where(:focus:focus-visible) {
        .ld-select__btn-trigger-icon,
        [slot='icon'] {
          color: var(--ld-col-rg-focus);
        }
      }
      @media (hover: hover) {
        &:where(:hover) {
          &.ld-select__btn-trigger--ghost:not(:focus) {
            background-color: var(--ld-col-rg-a01);
          }

          .ld-select__btn-trigger-icon,
          [slot='icon'] {
            color: var(--ld-col-rg-hover);
          }
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        &:where(.ld-select__btn-trigger--ghost) {
          background-color: var(--ld-col-rg-a02);
        }

        .ld-select__btn-trigger-icon,
        [slot='icon'] {
          color: var(--ld-col-rg-active);
        }
      }

      .ld-select__selection-label-bg {
        background-color: var(--ld-thm-tea-bg-primary);
      }
    }

    .ld-select__btn-clear {
      &:where(:focus:focus-visible) {
        color: var(--ld-col-rg-focus);
      }
      @media (hover: hover) {
        &:where(:hover) {
          color: var(--ld-col-rg-hover);
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        color: var(--ld-col-rg-active);
      }
    }

    .ld-select__btn-clear-single {
      &:where(:focus:focus-visible) + .ld-select__selection-label-bg {
        background-color: var(--ld-col-rg-focus);
      }

      &:where(:active),
      &:where(:active:focus-visible) {
        + .ld-select__selection-label-bg {
          background-color: var(--ld-col-rg-active);
        }
      }
    }
  }
}

.ld-select__popper {
  position: absolute;
  min-width: var(--ld-select-min-width);

  &:not(.ld-select__popper--expanded) {
    display: none;
  }
}

.ld-select__scroll-container {
  max-height: var(--ld-select-popper-max-height);
  overflow-y: auto;
}

.ld-select__shadow {
  display: none;
  bottom: 0;
}

.ld-select--expanded {
  z-index: 2147483647; /* Highest possible z-index */
}

.ld-select__popper--expanded {
  z-index: 2147483646; /* Highest possible z-index - 1 */

  :where(.ld-select__shadow) {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% + 2.5rem);
    box-shadow: var(--ld-shadow-sticky);
    border-radius: var(--ld-br-m);
    pointer-events: none;
    background-color: var(--ld-col-wht);
    z-index: -1;
  }

  &:where(.ld-tether-pinned) {
    z-index: 2147483647;
  }

  &:where(.ld-tether-pinned),
  &:where(.ld-select__popper--detached) {
    :where(.ld-select__shadow) {
      height: 100% !important;
    }

    :where(.ld-select__scroll-container) {
      border-radius: var(--ld-br-m);
    }

    :where(.ld-option) {
      &:first-of-type {
        border-top-left-radius: var(--ld-br-m);
        border-top-right-radius: var(--ld-br-m);
      }
      &:last-of-type {
        border-bottom-left-radius: var(--ld-br-m);
        border-bottom-right-radius: var(--ld-br-m);
      }
    }
  }

  &:where(.ld-tether-target-attached-bottom),
  &:where(.ld-tether-pinned-top) {
    .ld-select__scroll-container {
      border-top: solid var(--ld-col-rblck1) 1px;
      border-bottom-left-radius: var(--ld-br-m);
      border-bottom-right-radius: var(--ld-br-m);
    }
  }

  &:where(.ld-tether-target-attached-top),
  &:where(.ld-tether-pinned-bottom) {
    :where(.ld-select__scroll-container) {
      border-top-left-radius: var(--ld-br-m);
      border-top-right-radius: var(--ld-br-m);
    }
  }

  &:where(:not(.ld-tether-pinned)) {
    &:where(.ld-tether-target-attached-top) {
      :where(.ld-option:last-of-type) {
        border-bottom: solid var(--ld-col-rblck1) 1px;
      }
    }
  }
}
