:host,
.ld-checkbox {
  /* layout */
  --ld-checkbox-size: 1.25rem;

  /* colors */
  --ld-checkbox-col-bg: var(--ld-col-wht);
  --ld-checkbox-col-bg-hover: var(--ld-col-neutral-010);
  --ld-checkbox-col-bg-active: var(--ld-col-neutral-050);
  --ld-checkbox-col-border: var(--ld-col-neutral-400);
  --ld-checkbox-col-disabled: var(--ld-col-neutral-200);
  --ld-checkbox-col-bg-disabled: var(--ld-col-neutral-100);
  --ld-checkbox-dark-col-bg: var(--ld-col-neutral-050);
  --ld-checkbox-dark-col-bg-hover: var(--ld-col-neutral-100);
  --ld-checkbox-dark-col-bg-active: var(--ld-col-neutral-200);
  --ld-checkbox-checked-col: var(--ld-col-wht);
  --ld-checkbox-checked-col-active: var(--ld-col-wht);

  /* themable colors */
  --ld-checkbox-col-invalid: var(--ld-thm-error);
  --ld-checkbox-col-invalid-hover: var(--ld-thm-error-hover);
  --ld-checkbox-col-invalid-focus: var(--ld-thm-error-focus);
  --ld-checkbox-col-invalid-active: var(--ld-thm-error-active);
  --ld-checkbox-col-warn: var(--ld-thm-warning);
  --ld-checkbox-col-warn-hover: var(--ld-thm-warning-hover);
  --ld-checkbox-col-warn-focus: var(--ld-thm-warning-focus);
  --ld-checkbox-col-warn-active: var(--ld-thm-warning-active);
  --ld-checkbox-col-warn-checked: var(--ld-thm-warning-active);
  --ld-checkbox-col-warn-checked-focus: var(--ld-thm-warning-active);
  --ld-checkbox-col-warn-checked-active: var(--ld-thm-warning-hover);
  --ld-checkbox-col-bg-warn-checked-active: var(--ld-thm-warning-active);
  --ld-checkbox-thm-col: var(--ld-thm-primary);
  --ld-checkbox-thm-col-hover: var(--ld-thm-primary-hover);
  --ld-checkbox-thm-col-active: var(--ld-thm-primary-active);
  --ld-checkbox-thm-col-focus: var(--ld-thm-primary-focus);

  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: var(--ld-checkbox-size);
  height: var(--ld-checkbox-size);
  min-width: auto !important;
  box-sizing: border-box;

  input {
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;

    &:checked {
      ~ .ld-checkbox__check {
        visibility: inherit;
      }
    }

    &:where(:disabled),
    &:where([aria-disabled='true']) {
      ~ .ld-checkbox__check {
        color: var(--ld-checkbox-col-disabled);
      }
      ~ .ld-checkbox__box {
        background-color: transparent;
        box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-col-bg-disabled);
      }

      &:checked {
        ~ .ld-checkbox__box {
          background-color: var(--ld-checkbox-col-bg-disabled);
        }
      }
    }

    &:where(:not(:disabled):not([aria-disabled='true'])) {
      cursor: pointer;

      ~ .ld-checkbox__check {
        color: var(--ld-checkbox-thm-col-active);
      }
      ~ .ld-checkbox__box {
        box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col);
      }

      &:focus:focus-visible {
        ~ .ld-checkbox__box {
          background-color: transparent;
          box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col-focus);
        }
      }
      &:active,
      &:active:focus-visible {
        ~ .ld-checkbox__box {
          background-color: var(--ld-checkbox-col-bg-active);
          box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col-active);
        }
      }

      &:checked {
        ~ .ld-checkbox__check {
          color: var(--ld-checkbox-checked-col);
        }
        ~ .ld-checkbox__box {
          background-color: var(--ld-checkbox-thm-col);
          box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col);
        }

        &:focus:focus-visible {
          ~ .ld-checkbox__check {
            color: var(--ld-checkbox-thm-col-active);
          }
          ~ .ld-checkbox__box {
            background-color: var(--ld-checkbox-thm-col-focus);
            box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col-focus);
          }
        }
        &:active,
        &:active:focus-visible {
          ~ .ld-checkbox__check {
            color: var(--ld-checkbox-checked-col-active);
          }
          ~ .ld-checkbox__box {
            background-color: var(--ld-checkbox-thm-col-active);
            box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col-active);
          }
        }
      }
    }
  }

  :where(input:not(:disabled):not(input[aria-disabled='true'])) {
    ~ .ld-checkbox__box {
      background-color: var(--ld-checkbox-col-bg);
    }

    @media (hover: hover) {
      &:hover {
        ~ .ld-checkbox__box {
          background-color: var(--ld-checkbox-col-bg-hover);
          box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col-hover);
        }

        &:checked {
          ~ .ld-checkbox__check {
            color: var(--ld-checkbox-checked-col);
          }
          ~ .ld-checkbox__box {
            background-color: var(--ld-checkbox-thm-col-hover);
            box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-thm-col-hover);
          }
        }
      }
    }
  }
}

.ld-checkbox.ld-checkbox--dark,
:host(.ld-checkbox.ld-checkbox--dark) {
  :where(input) {
    &:not(:disabled):not(input[aria-disabled='true']):not(:checked) {
      ~ .ld-checkbox__box {
        background-color: var(--ld-checkbox-dark-col-bg);
      }

      @media (hover: hover) {
        &:hover {
          ~ .ld-checkbox__box {
            background-color: var(--ld-checkbox-dark-col-bg-hover);
          }
        }
      }

      &:active,
      &:active:focus-visible {
        ~ .ld-checkbox__box {
          background-color: var(--ld-checkbox-dark-col-bg-active);
        }
      }
    }
  }
}

.ld-checkbox__check {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.ld-checkbox__box {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 0.1rem var(--ld-checkbox-col-border);
}

:host,
.ld-checkbox,
.ld-checkbox__box {
  border-radius: var(--ld-br-m);
}

:host(.ld-checkbox--highlight),
.ld-checkbox--highlight {
  --ld-checkbox-thm-col: var(--ld-checkbox-col-warn);
  --ld-checkbox-thm-col-hover: var(--ld-checkbox-col-warn-hover);
  --ld-checkbox-thm-col-focus: var(--ld-checkbox-col-warn-focus);
  --ld-checkbox-thm-col-active: var(--ld-checkbox-col-warn-active);
  --ld-checkbox-checked-col: var(--ld-checkbox-col-warn-checked);
  --ld-checkbox-checked-col-active: var(--ld-checkbox-col-warn-checked-active);
}

:host(.ld-checkbox--invalid),
:host(.ld-checkbox--danger),
.ld-checkbox--invalid,
.ld-checkbox--danger {
  --ld-checkbox-thm-col: var(--ld-checkbox-col-invalid);
  --ld-checkbox-thm-col-hover: var(--ld-checkbox-col-invalid-hover);
  --ld-checkbox-thm-col-active: var(--ld-checkbox-col-invalid-active);
  --ld-checkbox-thm-col-focus: var(--ld-checkbox-col-invalid-focus);
}
