:host {
  /* layout */
  --ld-sidenav-closable-min-width: 20rem;
  --ld-sidenav-padding-x: 1rem;
  --ld-sidenav-padding-y: 1rem;
  --ld-sidenav-padding: var(--ld-sidenav-padding-y) var(--ld-sidenav-padding-x);
  --ld-sidenav-toggle-size: var(--ld-sp-24);
  --ld-sidenav-toggle-top: calc(
    2 * var(--ld-sidenav-padding-y) + var(--ld-sidenav-navitem-icon-size) - 0.5 *
      var(--ld-sidenav-toggle-size)
  );
  --ld-sidenav-translate-x-delta: calc(
    var(--ld-sidenav-width) - var(--ld-sidenav-width-collapsed)
  );
  --ld-sidenav-width: 15.625rem;
  --ld-sidenav-width-collapsed: calc(
    2 * var(--ld-sidenav-padding-x) + var(--ld-sidenav-navitem-icon-size)
  );
  --ld-sidenav-width-fully-collapsed: 1rem;

  /* layout ld-navitem */
  --ld-sidenav-navitem-icon-size: var(--ld-sp-32);
  --ld-sidenav-navitem-bg-inset: var(--ld-sp-6);
  --ld-sidenav-navitem-tertiary-indent: calc(
    3 * var(--ld-sidenav-padding-x) + 0.3125rem
  );
  --ld-sidenav-navitem-tertiary-width: calc(
    100% - (4 * var(--ld-sidenav-padding-x)) - 0.3125rem
  );

  /* transitions */
  /* Not using 0s here because we rely on the transition end event. */
  --ld-sidenav-transition-duration: 0.001s;
  --ld-sidenav-transition-duration-collapse-expand: 0.001s;
  --ld-sidenav-transition-delay: 0s;
  --ld-sidenav-transition-delay-collapse-expand: 0s;
  --ld-sidenav-translate-x-direction: 1;

  /* colors */
  --ld-sidenav-bg-color: var(--ld-col-wht);
  --ld-sidenav-subnav-bg-color: var(--ld-thm-primary-alpha-lowest);

  &(.ld-sidenav--initialized) {
    @media (prefers-reduced-motion: no-preference) {
      --ld-sidenav-transition-duration: 0.2s;
      --ld-sidenav-transition-duration-collapse-expand: 0.2s;
      --ld-sidenav-transition-delay: 0.1s;
      --ld-sidenav-transition-delay-collapse-expand: 0.1s;
    }
  }

  &(.ld-sidenav--toggle-transition-disabled) {
    @media (prefers-reduced-motion: no-preference) {
      --ld-sidenav-transition-duration-collapse-expand: 0.001s;
      --ld-sidenav-transition-delay-collapse-expand: 0s;
    }
  }

  &(.ld-sidenav--neutral) {
    --ld-sidenav-subnav-bg-color: var(--ld-col-neutral-050);
  }

  position: var(--ld-sidenav-position, fixed);
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--ld-sidenav-width);
  background-color: var(--ld-sidenav-bg-color);
  box-sizing: border-box;
  text-align: left;
  z-index: 0; /* create own stacking context */

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--ld-sp-1);
    background-color: var(--ld-col-neutral-100);
    transform: translateX(50%) scaleX(1.5);
    z-index: 1;
  }

  &(.ld-sidenav--transitions) {
    transition: transform var(--ld-sidenav-transition-duration-collapse-expand)
      ease;

    .ld-sidenav__content {
      transition: opacity var(--ld-sidenav-transition-duration-collapse-expand)
        linear;
    }
  }

  &(.ld-sidenav--transitions.ld-sidenav--closable:not(.ld-sidenav--open)) {
    .ld-sidenav__content {
      transition: opacity var(--ld-sidenav-transition-duration-collapse-expand)
          linear,
        visibility 0s var(--ld-sidenav-transition-duration-collapse-expand)
          linear;
      visibility: hidden;
    }
  }

  &(.ld-sidenav--collapsed:not(.ld-sidenav--closable)) {
    transform: translateX(
      calc(
        var(--ld-sidenav-translate-x-direction) *
          (-100% + var(--ld-sidenav-width-collapsed))
      )
    );
  }

  &(.ld-sidenav--collapsed.ld-sidenav--fully-collapsible:not(.ld-sidenav--closable)) {
    transform: translateX(
      calc(
        var(--ld-sidenav-translate-x-direction) *
          (-100% + var(--ld-sidenav-width-fully-collapsed))
      )
    );

    .ld-sidenav__content {
      opacity: 0;
      visibility: hidden;
    }
  }

  &(.ld-sidenav--collapsed.ld-sidenav--fully-collapsible.ld-sidenav--transitions:not(.ld-sidenav--closable)) {
    .ld-sidenav__content {
      transition: opacity var(--ld-sidenav-transition-duration-collapse-expand)
          linear,
        visibility 0s var(--ld-sidenav-transition-duration-collapse-expand)
          linear;
    }
  }

  &(.ld-sidenav--right) {
    --ld-sidenav-translate-x-direction: -1;
    --ld-sidenav-translate-x-delta: 0;
    left: unset;
    right: 0;

    &::before {
      right: unset;
      left: 0;
      transform: translateX(-50%) scaleX(1.5);
    }
  }

  &(.ld-sidenav--closable) {
    width: 100%;
    min-width: var(--ld-sidenav-closable-min-width);
    transform: translateX(
      calc(var(--ld-sidenav-translate-x-direction) * -100%)
    );
  }

  &(.ld-sidenav--closable.ld-sidenav--open) {
    transform: translateX(0);
  }

  ::slotted(ld-sidenav-navitem) {
    margin-bottom: var(--ld-sidenav-padding-y);
  }

  ::slotted(ld-sidenav-navitem:first-of-type) {
    margin-top: var(--ld-sidenav-padding-y);
  }

  ::slotted(ld-sidenav-heading) {
    margin: var(--ld-sidenav-padding-y) 0;
  }
}

.ld-sidenav__toggle {
  aspect-ratio: 1;
  background-color: var(--ld-col-wht);
  border: 0;
  border-radius: var(--ld-br-full);
  box-shadow: var(--ld-shadow-stacked);
  color: var(--ld-thm-primary);
  cursor: pointer;
  display: grid;
  outline-offset: var(--ld-sp-4);
  place-content: center;
  position: absolute;
  right: 0;
  top: var(--ld-sidenav-toggle-top);
  touch-action: manipulation;
  transform: translateX(50%);
  width: var(--ld-sidenav-toggle-size);
  will-change: transform; /* fixes rendering issue */
  z-index: 1;
  -webkit-touch-callout: none;

  /* background color */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    border-radius: inherit;
  }

  /* increase click area */
  &::after {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--ld-sp-6));
    display: block;
    border-radius: inherit;
  }

  &:hover,
  &:focus:focus-visible {
    &:not(:active) {
      box-shadow: var(--ld-shadow-sticky);
    }
  }

  &:where(:focus:focus-visible) {
    color: var(--ld-thm-primary-hover);

    &::before {
      background-color: var(--ld-thm-primary-alpha-low);
    }
  }
  @media (hover: hover) {
    &:where(:hover) {
      color: var(--ld-thm-primary-hover);
    }
  }
  &:where(:active),
  &:where(:active:focus-visible) {
    color: var(--ld-thm-primary-active);
  }

  :host(.ld-sidenav--right) & {
    transform: translateX(-50%);
    right: unset;
    left: 0;
  }
}

.ld-sidenav__toggle-icon {
  transform-origin: center;
  position: relative;

  :host(.ld-sidenav--collapsed) & {
    transform: rotate(180deg);
  }

  :host(.ld-sidenav--right) & {
    transform: rotate(180deg);
  }
  :host(.ld-sidenav--right.ld-sidenav--collapsed) & {
    transform: none;
  }
}

.ld-sidenav__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  will-change: transform; /* fixes overflow not working on slide transition */
}

.ld-sidenav__slot-container-default {
  height: 100%;
  position: relative;
}

.ld-sidenav__slot-container-top,
.ld-sidenav__slot-container-bottom {
  background-color: var(--ld-sidenav-bg-color);
  z-index: 1;
  position: relative;
}

.ld-sidenav__slot-container-top,
.ld-sidenav__slot-container-default,
.ld-sidenav__slot-container-bottom {
  &::before {
    visibility: visible;
    z-index: 0;
    opacity: 0;
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--ld-sidenav-subnav-bg-color);
    transition: opacity var(--ld-sidenav-transition-duration-collapse-expand)
      linear;
  }

  :host(.ld-sidenav--has-active-subnav) & {
    &::before {
      opacity: 1;
    }
  }
}
