---
title: Liquid docs
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <script>
    __docsSearchIndex__ = [
    {%- for item in collections.all -%}
      {%- if not item.data.excludeFromSitemap %}
        {%- if item.data.title or item.data.renderData.title %}
          {%- if 'Liquid' not in item.data.title -%}
            {
              title: '{{ item.data.title or item.data.renderData.title }}',
              tags: '{{ item.data.tags }}',
              url: '{{ item.url }}',
              headings: '{{ item.data.content | toc | safe | striptags(true) }}',
              breadcrumbs: [
                {% set navPages = collections.all | eleventyNavigationBreadcrumb(item.data.title or item.data.renderData.title) %}
                {% macro renderBreadcrumb(entry) -%}
                  '{{ entry.title }}',
                {%- endmacro %}
                {%- if navPages.length -%}
                  {%- for entry in navPages %}{{ renderBreadcrumb(entry) }}{%- endfor -%}
                  '{{ item.data.title or item.data.renderData.title }}'
                {%- endif -%}
              ]
            }{{ '' if loop.last else ',' }}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor %}
    ]
  </script>

  <link rel="stylesheet" href="/docs.css">
  <link rel="stylesheet" href="/dist/build/liquid.css">
  <script type="module" src="/dist/build/liquid.esm.js"></script>
  <script nomodule src="/dist/build/liquid.js"></script>
</head>
<body>
  <script>
    var storedThemePref = window.localStorage.getItem('docs-theme')
    var isDark = storedThemePref === 'dark' ? true : false
    document.body.classList.add(`docs-theme-${this.isDark ? 'dark' : 'light'}`)
    document.body.classList.remove(
      `docs-theme-${!this.isDark ? 'dark' : 'light'}`
    )
  </script>
  <docs-layout id="docs-layout" style="visibility: hidden">
    <docs-topbar></docs-topbar>

    <docs-nav>
      {% set navPages = collections.all | eleventyNavigation %}
      {% macro renderNavListItem(entry) -%}
        <li class="docs-nav__li{% if entry.url == page.url %} docs-nav__li--active{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
            <ul>
              {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endmacro %}

      <ul>
        {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
      </ul>
    </docs-nav>

    <docs-nav-backdrop></docs-nav-backdrop>

    {% if content | toc %}
      <docs-toc style="order: 2;">
        {{ content | toc | safe }}
      </docs-toc>
    {% endif %}

    <docs-main id="main">
      <header>
        <docs-btn-open-nav></docs-btn-open-nav>

        {%- if 'Liquid' not in title -%}
          <docs-breadcrumbs>
            {% set navPages = collections.all | eleventyNavigationBreadcrumb(title) %}
            {% macro renderBreadcrumb(entry) -%}
              <li>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endmacro %}
            {%- for entry in navPages %}{{ renderBreadcrumb(entry) }}{%- endfor -%}
            <li>
              <a href="{{ './' | url }}" aria-current="page">{{ title }}</a>
            </li>
          </docs-breadcrumbs>
        {%- endif -%}
      </header>
      {{ content | safe }}
      <footer>
        <a href="https://github.com/emdgroup-liquid/liquid/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a>
      </footer>
    </docs-main>

  </docs-layout>
  <docs-search></docs-search>
</body>
</html>
