ld-typo[variant*='b']:not([variant*='body']),
.ld-typo--b1,
.ld-typo--b2,
.ld-typo--b3,
.ld-typo--b4,
.ld-typo--b5,
.ld-typo--b6,
.ld-typo--xb1,
.ld-typo--xb2,
.ld-typo--xb3 {
  :where(.ld-theme-ocean &),
  :where([class*='ld-theme'] .ld-theme-ocean &) {
    color: var(--ld-col-rb-default);
  }

  :where(.ld-theme-solvent &),
  :where([class*='ld-theme'] .ld-theme-solvent &),
  :where(.ld-theme-bubblegum &),
  :where([class*='ld-theme'] .ld-theme-bubblegum &),
  :where(.ld-theme-shake &),
  :where([class*='ld-theme'] .ld-theme-shake &) {
    color: var(--ld-col-rp-default);
  }

  :where(.ld-theme-tea &),
  :where([class*='ld-theme'] .ld-theme-tea &) {
    color: var(--ld-col-rg-default);
  }
}
