:where(.ld-icon) {
  --ld-size-sm: 1rem;
  --ld-size-md: 1.25rem;
  --ld-size-lg: 1.5rem;
  display: inline-flex;
  width: var(--ld-size-md);
  height: var(--ld-size-md);

  :where(svg) {
    width: var(--ld-size-md);
    height: var(--ld-size-md);
  }
}

:where(.ld-icon--sm),
:where(.ld-icon--sm svg) {
  width: var(--ld-size-sm);
  height: var(--ld-size-sm);
}
:where(.ld-icon--lg),
:where(.ld-icon--lg svg) {
  width: var(--ld-size-lg);
  height: var(--ld-size-lg);
}
