.docs-iframe {
  inset: 0;
  top: var(--docs-header-height);
  left: max(
    calc(var(--docs-nav-width) + 50vw - var(--docs-max-width) / 2),
    calc(var(--docs-nav-width))
  );
  position: fixed;

  @media (max-width: 48rem) {
    left: 0;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}
