bin/
!bin/.gitkeep
dist/
dist_docs/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
.yarn/
node_modules/
coverage/
tmp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env*

src/**/components.d.ts

# Stencil React bindings
src/react.js
src/react.d.ts
src/react-component-lib

.husky
