bin/
!bin/.gitkeep
dist/
dist_docs/
hydrate/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/*
!.idea/jsLinters/
!.idea/runConfigurations/
!.idea/prettier.xml
!.idea/eslint.xml
!.idea/liquid.iml
.vscode/*
!.vscode/tasks.json
.sass-cache/
.versions/
node_modules/
coverage/
tmp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env*

src/**/components.d.ts

screenshot/.gitignore
screenshot/compare.html

# Stencil Framework output target temporary folder
out/

.husky
.tool-versions
