:where(ld-icon) {
  display: inline-grid;
  place-content: center;
}

:where(.ld-icon) {
  --ld-icon-size-sm: 1rem;
  --ld-icon-size-md: 1.25rem;
  --ld-icon-size-lg: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--ld-icon-size-md);
  height: var(--ld-icon-size-md);

  :where(svg) {
    width: var(--ld-icon-size-md);
    height: var(--ld-icon-size-md);
    flex-shrink: 0;
  }
}

:where(.ld-icon--sm),
:where(.ld-icon--sm svg) {
  width: var(--ld-icon-size-sm);
  height: var(--ld-icon-size-sm);
}
:where(.ld-icon--lg),
:where(.ld-icon--lg svg) {
  width: var(--ld-icon-size-lg);
  height: var(--ld-icon-size-lg);
}
