:host {
  background: var(--ld-col-wht);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: var(--ld-sp-24);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  gap: var(--ld-sp-8);
}

.ld-upload-item__container {
  display: flex;
  align-items: center;
  gap: var(--ld-sp-24);
  justify-items: start;
  width: 100%;
}

.ld-upload-item__icon {
  width: 2rem;
  height: auto;
  /* display: flex;
  justify-content: center; */
}

.ld-upload-item__custom-icon {
  width: 2rem;
  height: auto;
}

::slotted(*) {
  width: 2rem;
  height: auto;
}

.ld-upload-item__file-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  /* width: calc(100% - 9rem); */
  width: calc(100% - 18rem);
}

.ld-upload-item__file-name {
  flex: 1;
  width: 100%;

  &::part(tag) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ld-upload-item__file-size {
  flex: 1;
  width: 100%;

  &::part(tag) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ld-upload-item__buttons {
  display: flex;
  flex-direction: row;
  justify-self: end;
  justify-items: end;
}

.ld-upload-item__pause-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__continue-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__remove-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__download-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__retry-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__delete-icon {
  color: var(--ld-col-rr-600);
}

.ld-upload-item__progress {
  display: grid;
  width: 100%;
  justify-content: center;
}
