:host {
  display: block;
}

.ld-upload-item__card {
  background: var(--ld-col-wht);
  border-radius: var(--ld-br-s);
  border: var(--ld-sp-2) solid var(--ld-col-neutral-100);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: var(--ld-sp-24);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ld-upload-item__container {
  display: flex;
  align-items: center;
  gap: var(--ld-sp-24);
  justify-items: start;
  width: 100%;
}

.ld-upload-item__file-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: calc(100% - 9rem);
}

.ld-upload-item__file-name {
  flex: 1;
  width: 100%;

  &::part(tag) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ld-upload-item__buttons {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: row;
  justify-self: end;
  justify-items: end;
}

.ld-upload-icon__pause-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__remove-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-icon__download-icon {
  color: var(--ld-col-neutral-900);
}

.ld-upload-item__delete-icon {
  color: var(--ld-col-rr-600);
}

.ld-upload-item__progress {
  display: grid;
  width: 100%;
}
