.docs-btn-toggle-nav {
  position: fixed;
  bottom: var(--ld-sp-24);
  right: var(--ld-sp-24);
  z-index: 1;

  a {
    user-select: none;
    touch-action: manipulation;
    border-radius: 100%;
    box-shadow: var(--ld-shadow-sticky);
    color: var(--ld-col-vm-default);

    &:focus:focus-visible {
      box-shadow: var(--ld-shadow-hover);
      color: var(--ld-col-vm2);

      rect {
        fill: var(--ld-col-vm6);
      }
    }
    @media (hover: hover) {
      &:hover {
        box-shadow: var(--ld-shadow-hover);
        color: var(--ld-col-vm4);
      }
    }

    &:active,
    &:active:focus-visible {
      box-shadow: var(--ld-shadow-active);
      color: var(--ld-col-vm5);
    }
  }

  @media (min-width: 48rem) {
    display: none;
  }
}

.docs-btn-toggle-nav__close,
.docs-btn-toggle-nav__open {
  display: inline-flex;
}

.docs-btn-toggle-nav__close {
  display: none;
}
