.docs-btn-toggle-nav {
  position: fixed;
  bottom: var(--ld-sp-24);
  right: var(--ld-sp-24);
  z-index: 2;
  display: none;

  a {
    user-select: none;
    touch-action: manipulation;
    border-radius: 100%;
    box-shadow: var(--ld-shadow-sticky);
    color: var(--ld-col-vm);
    outline: none;

    &:focus:focus-visible {
      box-shadow: var(--ld-shadow-hover);
      color: var(--ld-col-vm-300);

      rect {
        fill: var(--ld-col-vm-800);
      }
    }
    @media (hover: hover) {
      &:hover {
        box-shadow: var(--ld-shadow-hover);
        color: var(--ld-col-vm-600);
      }
    }

    &:active,
    &:active:focus-visible {
      box-shadow: var(--ld-shadow-active);
      color: var(--ld-col-vm-700);
    }
  }

  @media (max-width: 52rem) {
    display: block;
  }
}

.docs-btn-toggle-nav__close,
.docs-btn-toggle-nav__open {
  display: inline-flex;
}

.docs-btn-toggle-nav__close {
  display: none;
}
