@define-mixin docs-toc-ui-light {
  .docs-toc__nav::before {
    background-color: var(--ld-col-bg-g);
  }
}
@define-mixin docs-toc-ui-dark {
  .docs-toc__nav::before {
    background-color: var(--ld-col-rblck3);
  }
}

@mixin docs-toc-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-toc-ui-dark;
}
.docs-ui-dark {
  @mixin docs-toc-ui-dark;
}
.docs-ui-light {
  @mixin docs-toc-ui-light;
}

.docs-toc__content {
  padding: var(--ld-sp-8) var(--ld-sp-32) var(--ld-sp-24) 0;
}

.docs-toc__nav {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: calc(100% + 0.8rem);
    width: 0.1875rem;
    display: block;
    transform: translateY(-0.4rem);
    border-radius: var(--ld-br-full);
  }

  ol {
    list-style: none;
    padding-left: var(--ld-sp-24);
  }

  li {
    margin-top: var(--ld-sp-12);
  }

  a {
    font: var(--ld-typo-label-s);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 2.2rem;
      width: 0.1875rem;
      display: block;
      transform: translateY(-0.4rem);
      border-radius: var(--ld-br-full);
    }

    &.docs-toc__link--is-active,
    &.docs-toc__link--is-target {
      color: var(--ld-col-vc-default);
    }

    &.docs-toc__link--is-active {
      &::before {
        background-color: var(--ld-col-vc-default);
        z-index: 1;
      }
    }
  }
}

[href='#dependencies'] {
  display: none;

  & + ol {
    display: none;
  }
}

.docs-toc__heading {
  display: block;
  font: var(--ld-typo-cap-m);
  font-weight: 400;
  text-transform: uppercase;
  margin: var(--ld-sp-2) 0 var(--ld-sp-24);
}
