:host,
.ld-bg-cells {
  --ld-bg-cells-bg-col: var(--ld-thm-primary);
  --ld-bg-cells-pattern-col: var(--ld-thm-secondary);
  --ld-bg-cells-position: top 56% right -30%;
  --ld-bg-cells-size: 200%;

  background: var(--ld-bg-cells-bg-col);
  height: 100%;
  position: relative;
  width: 100%;
}

.ld-bg-cells {
  :host(&--bioreliance),
  &--bioreliance {
    --ld-bg-cells-bg-col: var(--ld-col-rp);
    --ld-bg-cells-pattern-col: var(--ld-col-vg);
    --ld-bg-cells-position: top 5% right -20%;
    --ld-bg-cells-size: 230%;
  }

  :host(&--f),
  &--f {
    --ld-bg-cells-position: top 20% right -50%;
    --ld-bg-cells-size: 180%;
  }

  :host(&--millipore),
  &--millipore {
    --ld-bg-cells-bg-col: var(--ld-col-vy);
    --ld-bg-cells-pattern-col: var(--ld-col-rb);
    --ld-bg-cells-position: top -10% right -30%;
    --ld-bg-cells-size: 200%;
  }

  :host(&--supelco),
  &--supelco {
    --ld-bg-cells-bg-col: var(--ld-col-vy);
    --ld-bg-cells-pattern-col: var(--ld-col-rg);
    --ld-bg-cells-position: top -30% right -34%;
    --ld-bg-cells-size: 170%;
  }

  :host(&--safc),
  &--safc {
    --ld-bg-cells-bg-col: var(--ld-col-vy);
    --ld-bg-cells-pattern-col: var(--ld-col-vm);
    --ld-bg-cells-position: top 47% right -15%;
    --ld-bg-cells-size: 290%;
  }

  :host(&--sigma-aldrich),
  &--sigma-aldrich {
    --ld-bg-cells-bg-col: var(--ld-col-vy);
    --ld-bg-cells-pattern-col: var(--ld-col-rr);
    --ld-bg-cells-position: top 51% right -19%;
    --ld-bg-cells-size: 280%;
  }

  :host(&--t),
  &--t {
    --ld-bg-cells-position: top -10% right -20%;
    --ld-bg-cells-size: 250%;
  }

  :host(&--tile),
  &--tile {
    --ld-bg-cells-position: top 50% right -12%;
    --ld-bg-cells-size: 250%;
  }
}

.ld-bg-cells__pattern {
  background: var(--ld-bg-cells-pattern-col);
  mask-image: var(--ld-bg-cells-image);
  mask-position: var(--ld-bg-cells-position);
  mask-repeat: no-repeat;
  mask-size: var(--ld-bg-cells-size);

  /* Results in pixelated pattern */
  /* &--repeat {
    mask-repeat: repeat;
  } */
}

.ld-bg-cells__pattern,
.ld-bg-cells__content {
  inset: 0;
  position: absolute;
}
