.docs-icon-group {
  margin-bottom: var(--ld-sp-32);
  display: block;

  &__headline {
    margin-bottom: var(--ld-sp-16);
  }
}

.docs-icon-group__icons {
  border-radius: var(--ld-br-l);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 70rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 32rem) and (max-width: 52rem),
    (min-width: 60rem) and (max-width: 70rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}
