@define-mixin docs-icon-group-ui-light {
  .docs-icon-group__icons {
    background-color: var(--ld-col-neutral-010);
    border: var(--ld-sp-1) solid var(--ld-col-neutral-100);
  }
}
@define-mixin docs-icon-group-ui-dark {
  .docs-icon-group__icons {
    background-color: var(--ld-col-neutral-400);
    border: var(--ld-sp-1) solid transparent;
  }
}

@mixin docs-icon-group-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-icon-group-ui-dark;
}
.docs-ui-light {
  @mixin docs-icon-group-ui-light;
}
.docs-ui-dark {
  @mixin docs-icon-group-ui-dark;
}

.docs-icon-group {
  margin-bottom: var(--ld-sp-32);
  display: block;

  .ld-heading {
    margin-bottom: var(--ld-sp-12);
  }
}

.docs-icon-group__icons {
  border-radius: var(--ld-br-l);
  display: flex;
  flex-wrap: wrap;
  padding: var(--ld-sp-8) 0 0 var(--ld-sp-8);

  > docs-icon {
    margin: 0 var(--ld-sp-8) var(--ld-sp-8) 0;
  }
}
