:where(.ld-theme-ocean),
:where([class*='ld-theme'] .ld-theme-ocean) {
  ld-tooltip {
    --ld-tooltip-icon-color: var(--ld-thm-ocean-bg-primary);
    --ld-tooltip-icon-color-hover: var(--ld-col-rb55);
    --ld-tooltip-icon-color-focus: var(--ld-col-rb-focus);
  }
}

:where(.ld-theme-tea),
:where([class*='ld-theme'] .ld-theme-tea) {
  ld-tooltip {
    --ld-tooltip-icon-color: var(--ld-thm-tea-bg-primary);
    --ld-tooltip-icon-color-hover: var(--ld-col-rg5);
    --ld-tooltip-icon-color-focus: var(--ld-col-rg-focus);
  }
}

:where(.ld-theme-bubblegum),
:where([class*='ld-theme'] .ld-theme-bubblegum) {
  ld-tooltip {
    --ld-tooltip-icon-color: var(--ld-thm-bubblegum-bg-primary);
    --ld-tooltip-icon-color-hover: var(--ld-col-rp55);
    --ld-tooltip-icon-color-focus: var(--ld-col-rp-focus);
  }
}

:where(.ld-theme-shake),
:where([class*='ld-theme'] .ld-theme-shake) {
  ld-tooltip {
    --ld-tooltip-icon-color: var(--ld-thm-shake-bg-primary);
    --ld-tooltip-icon-color-hover: var(--ld-col-rp55);
    --ld-tooltip-icon-color-focus: var(--ld-col-rp-focus);
  }
}

:where(.ld-theme-solvent),
:where([class*='ld-theme'] .ld-theme-solvent) {
  ld-tooltip {
    --ld-tooltip-icon-color: var(--ld-thm-solvent-bg-primary);
    --ld-tooltip-icon-color-hover: var(--ld-col-rp55);
    --ld-tooltip-icon-color-focus: var(--ld-col-rp-focus);
  }
}
