.ld-tooltip__trigger {
  background: none;
  border: 0;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 0;

  &--clickable {
    cursor: pointer;
  }

  &:focus:focus-visible .ld-tooltip__icon {
    color: var(--ld-tooltip-icon-color-focus);
  }

  &:hover .ld-tooltip__icon {
    color: var(--ld-tooltip-icon-color-hover);
  }

  + .ld-tooltip {
    opacity: 0;
    position: absolute;
  }
}

.ld-tooltip__icon {
  color: var(--ld-tooltip-icon-color);
  display: flex;
  height: var(--ld-sp-16);
  width: var(--ld-sp-16);
}
