@keyframes ld-tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ld-tooltip {
  /* TODO: move to global vars? */
  --ld-ad-default: 200ms; /* default animation duration */
  --ld-zi-max: 2147483647; /* max z-index */

  --ld-tooltip-arrow-size: 0.5rem;
  --ld-tooltip-arrow-offset: var(--ld-sp-16);
  --ld-tooltip-max-width: 20rem;
  --ld-tooltip-offset: var(--ld-sp-8);
  --ld-tooltip-animation-duration: var(--ld-ad-default);

  background-color: var(--ld-col-wht);
  border-radius: var(--ld-br-m);
  color: var(--ld-col-rblck-default);
  filter: var(--ld-drop-shadow-hover);
  max-width: var(--ld-tooltip-max-width);
  opacity: 0;
  padding: var(--ld-sp-16);
  pointer-events: none;
  position: relative;
  transition: opacity var(--ld-tooltip-animation-duration) ease-in-out;
  z-index: var(--ld-zi-max);

  &--with-arrow {
    --ld-tooltip-offset: calc(var(--ld-tooltip-arrow-size) + var(--ld-sp-8));

    &:before {
      border: var(--ld-tooltip-arrow-size) solid transparent;
      content: '';
      position: absolute;
    }
  }

  &--interactive {
    pointer-events: auto;
  }

  &.ld-tether-enabled {
    animation: ld-tooltip-show var(--ld-tooltip-animation-duration) ease-in-out;
    opacity: 1;
  }

  &.ld-tether-element-attached-bottom {
    &:before {
      bottom: var(--ld-tooltip-arrow-offset);
    }

    &.ld-tether-target-attached-top {
      margin-top: calc(var(--ld-tooltip-offset) * -1);

      &:before {
        border-top-color: var(--ld-col-wht);
        top: 100%;
      }
    }
  }

  &.ld-tether-element-attached-center:before {
    left: calc(50% - var(--ld-tooltip-arrow-size));
  }

  &.ld-tether-element-attached-left.ld-tether-target-attached-right {
    margin-left: var(--ld-tooltip-offset);

    &:before {
      border-right-color: var(--ld-col-wht);
      right: 100%;
    }
  }

  &.ld-tether-element-attached-middle:before {
    top: calc(50% - var(--ld-tooltip-arrow-size));
  }

  &.ld-tether-element-attached-right {
    &:before {
      right: var(--ld-tooltip-arrow-offset);
    }

    &.ld-tether-target-attached-left {
      margin-left: calc(var(--ld-tooltip-offset) * -1);

      &:before {
        border-left-color: var(--ld-col-wht);
        left: 100%;
      }
    }
  }

  &.ld-tether-element-attached-top.ld-tether-target-attached-bottom {
    margin-top: var(--ld-tooltip-offset);

    &:before {
      border-bottom-color: var(--ld-col-wht);
      bottom: 100%;
    }
  }
}

.ld-tooltip__trigger {
  background: none;
  border: 0;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 0;

  + .ld-tooltip {
    opacity: 0;
    position: absolute;
  }
}

/* .ld-theme-ocean -> default */
.ld-tooltip__icon,
.ld-theme-ocean .ld-tooltip__icon,
[class*='ld-theme'] .ld-theme-ocean .ld-tooltip__icon {
  color: var(--ld-thm-ocean-bg-primary);
  /* animations triggered by user interactions on single component instances are probably not a performance issue */
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: color var(--ld-tooltip-animation-duration) ease-in-out;

  &:hover {
    color: var(--ld-col-rb55);
  }
}

.ld-theme-tea,
[class*='ld-theme'] .ld-theme-tea {
  .ld-tooltip__icon {
    color: var(--ld-thm-tea-bg-primary);

    &:hover {
      color: var(--ld-col-rg5);
    }
  }
}

.ld-theme-bubblegum,
[class*='ld-theme'] .ld-theme-bubblegum {
  .ld-tooltip__icon {
    color: var(--ld-thm-bubblegum-bg-primary);

    &:hover {
      color: var(--ld-col-rp55);
    }
  }
}

.ld-theme-shake,
[class*='ld-theme'] .ld-theme-shake {
  .ld-tooltip__icon {
    color: var(--ld-thm-shake-bg-primary);

    &:hover {
      color: var(--ld-col-rp55);
    }
  }
}

.ld-theme-solvent,
[class*='ld-theme'] .ld-theme-solvent {
  .ld-tooltip__icon {
    color: var(--ld-thm-solvent-bg-primary);

    &:hover {
      color: var(--ld-col-rp55);
    }
  }
}
