@define-mixin docs-switch-web-css-ui-light {
  .docs-switch-web-css button {
    background-color: var(--ld-col-bg-g);

    &:focus:focus-visible {
      .docs-switch-web-css__option:not(.docs-switch-web-css__option--active) {
        color: var(--ld-col-rb5);
        background-color: var(--ld-col-bg-lg);
      }
    }
    &:active,
    &:active:focus-visible {
      .docs-switch-web-css__option:not(.docs-switch-web-css__option--active) {
        color: var(--ld-col-rb55);
        background-color: transparent;
      }
    }
  }
  .docs-switch-web-css__option {
    color: var(--ld-col-rblck4);

    &:hover:not(.docs-switch-web-css__option--active) {
      color: var(--ld-col-rb5);
      background-color: var(--ld-col-bg-lg);
    }
  }

  .docs-switch-web-css__option--active {
    color: var(--ld-col-wht);
    background-color: var(--ld-col-rb5);
  }
}
@define-mixin docs-switch-web-css-ui-dark {
  .docs-switch-web-css button {
    background-color: var(--ld-col-rblck3);

    &:focus:focus-visible {
      .docs-switch-web-css__option:not(.docs-switch-web-css__option--active) {
        color: var(--ld-col-rb3);
        background-color: var(--ld-col-rblck-default);
      }
    }
    &:active,
    &:active:focus-visible {
      .docs-switch-web-css__option:not(.docs-switch-web-css__option--active) {
        color: var(--ld-col-rb2);
        background-color: var(--ld-col-rblck-default);
      }
    }
  }
  .docs-switch-web-css__option {
    color: var(--ld-col-rblck5);

    &:hover:not(.docs-switch-web-css__option--active) {
      color: var(--ld-col-rb3);
      background-color: var(--ld-col-rblck-default);
    }
  }

  .docs-switch-web-css__option--active {
    background-color: var(--ld-col-rb3);
    color: var(--ld-col-rblck-default);
  }
}

@mixin docs-switch-web-css-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-switch-web-css-ui-dark;
}
.docs-ui-dark {
  @mixin docs-switch-web-css-ui-dark;
}
.docs-ui-light {
  @mixin docs-switch-web-css-ui-light;
}

.docs-switch-web-css button {
  font: var(--ld-typo-body-s);
  font-weight: 700;
  border-radius: var(--ld-sp-4);
  display: flex;
  align-items: stretch;
  position: relative;
  border: 0;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
}

.docs-switch-web-css__option {
  position: relative;
  padding: var(--ld-sp-8) var(--ld-sp-12);
  z-index: 0;
  line-height: 0;
}

.docs-switch-web-css__icon {
  width: 1.5rem;
  height: 1rem;
}
