@define-mixin docs-page-nav-ui-light {
  .docs-page-nav__dark {
    display: none;
  }
  .docs-page-nav__light {
    display: block;
  }
}
@define-mixin docs-page-nav-ui-dark {
  .docs-page-nav__dark {
    display: block;
  }
  .docs-page-nav__light {
    display: none;
  }
}

@mixin docs-page-nav-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-page-nav-ui-dark;
}
.docs-ui-dark {
  @mixin docs-page-nav-ui-dark;
}
.docs-ui-light {
  @mixin docs-page-nav-ui-light;
}

.docs-page-nav__content {
  display: flex;
  grid-auto-flow: column;
  justify-content: space-between;
}

.docs-page-nav__pull,
.docs-page-nav__push {
  margin-bottom: var(--ld-sp-16);
}

.docs-page-nav__pull {
  margin-right: var(--ld-sp-16);
}

.docs-page-nav__push {
  margin-left: auto;
}
