.docs-edit-on-github {
  display: block;

  .ld-button {
    --ld-button-border-top-left-radius: calc(var(--ld-br-m) + var(--ld-sp-2));
    --ld-button-border-top-right-radius: calc(var(--ld-br-m) + var(--ld-sp-2));
    --ld-button-border-bottom-right-radius: calc(
      var(--ld-br-m) + var(--ld-sp-2)
    );
    --ld-button-border-bottom-left-radius: calc(
      var(--ld-br-m) + var(--ld-sp-2)
    );
    background-color: var(--ld-layer-2);
    color: var(--ld-col-neutral-900);
    box-shadow: inset 0 0 0 2px var(--ld-layer-1);

    &:focus:focus-visible {
      color: var(--ld-col-neutral-900);
      background-color: var(--ld-col-neutral-050);
      box-shadow: inset 0 0 0 2px var(--ld-col-neutral-900);
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: inset 0 0 0 2px var(--ld-col-neutral-900);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-neutral-800);
      color: var(--ld-col-wht);
      box-shadow: inset 0 0 0 2px var(--ld-col-neutral-800);
    }
  }
}
