@define-mixin docs-edit-on-github-ui-light {
  .docs-edit-on-github .ld-button {
    background-color: var(--ld-col-wht);
    color: var(--ld-col-gray);
    box-shadow: 0 0 0 2px var(--ld-col-gray-100);

    &:focus:focus-visible {
      color: var(--ld-col-gray);
      background-color: var(--ld-col-gray-050);
      box-shadow: 0 0 0 2px var(--ld-col-gray);
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 0 2px var(--ld-col-gray);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-gray-500);
      color: var(--ld-col-wht);
      box-shadow: 0 0 0 2px var(--ld-col-gray-500);
    }
  }
}
@define-mixin docs-edit-on-github-ui-dark {
  .docs-edit-on-github .ld-button {
    background-color: var(--ld-col-gray-500);
    color: var(--ld-col-wht);
    box-shadow: 0 0 0 2px var(--ld-col-gray-400);

    &:focus:focus-visible {
      color: var(--ld-col-wht);
      background-color: var(--ld-col-gray-400);
      box-shadow: 0 0 0 2px var(--ld-col-wht);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-gray-500);
        box-shadow: 0 0 0 2px var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-gray-200);
      color: var(--ld-col-gray);
      box-shadow: 0 0 0 2px var(--ld-col-gray-200);
    }
  }
}

@mixin docs-edit-on-github-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-edit-on-github-ui-dark;
}
.docs-ui-dark {
  @mixin docs-edit-on-github-ui-dark;
}
.docs-ui-light {
  @mixin docs-edit-on-github-ui-light;
}

.docs-edit-on-github {
  display: block;
}
