<!doctype html>
<html lang="en">
  <head>
    <base href="{{ env.base }}/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url='{{ destination }}'" />
    <title>Redirecting to: {{ destination }}</title>
  </head>
  <body>
  Redirecting to <a href="{{ destination }}">{{ destination }}</a>...
  </body>
</html>
