/**
 * @prop --ld-loading-col: Color of the loading indicator.
 * @prop --ld-loading-size: Size of the loading indicator.
 */
:host,
.ld-loading {
  --ld-loading-size: 1.5rem;
  --ld-loading-col: var(--ld-col-neutral-300);

  background: var(--ld-loading-col);
  height: var(--ld-loading-size);
  width: var(--ld-loading-size);
  display: inline-flex;
  flex-shrink: 0;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23"><defs/><circle cx="11.5" cy="11.5" r="9.5" stroke="currentColor" stroke-dasharray="2.55 5" stroke-width="4"/></svg>');
  animation: ld-loading-animation 1.5s linear infinite;
}

@keyframes ld-loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
