.ld-option-internal {
  --ld-option-padding-left-sm: 0.625rem;
  --ld-option-padding-left-lg: 0.875rem;
  display: flex;
  position: relative;
  color: var(--ld-col-rblck-default);
  background-color: var(--ld-col-wht);
  padding: var(--ld-sp-8) var(--ld-sp-12);
  font: var(--ld-typo-label-m);
  min-height: 2.5rem;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  border: 0;
  outline: none;
  -webkit-touch-callout: none;
  border-bottom: solid var(--ld-col-rblck1) var(--ld-sp-1);
  box-sizing: border-box;

  &--sm {
    padding-left: var(--ld-option-padding-left-sm);
  }

  &--lg {
    padding-left: var(--ld-option-padding-left-lg);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  [data-popper-placement*='bottom'] & {
    &:last-of-type {
      border-bottom-left-radius: var(--ld-br-m);
      border-bottom-right-radius: var(--ld-br-m);
    }
  }
  [data-popper-placement*='top'] & {
    &:first-of-type {
      border-top-left-radius: var(--ld-br-m);
      border-top-right-radius: var(--ld-br-m);
    }
  }

  &:not([aria-disabled='true']) {
    cursor: pointer;
  }

  &[aria-disabled='true'] {
    color: var(--ld-col-disabled);
  }

  /* Pseudo element for focus outline */
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--ld-br-m);
    pointer-events: none;
  }
}

.ld-option-internal__checkbox-wrapper {
  display: inline-flex;
  flex-shrink: 0;
}

.ld-option-internal__check,
.ld-option-internal__checkbox {
  align-self: center;
  flex-shrink: 0;
  transform: translateX(calc(-1 * var(--ld-sp-2)));
}

.ld-option-internal__check {
  margin-right: var(--ld-sp-4);
}

.ld-option-internal__checkbox {
  margin-left: var(--ld-sp-2);
  margin-right: var(--ld-sp-6);
}

.ld-option-internal__label {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .ld-theme-ocean -> default */
.ld-option-internal,
.ld-theme-ocean .ld-option-internal,
[class*='ld-theme'] .ld-theme-ocean .ld-option-internal {
  &:where(:focus:focus-visible):before {
    box-shadow: inset 0 0 0 0.1rem var(--ld-thm-ocean-bg-primary);
  }

  &:where(:not([disabled]):not([aria-disabled='true'])) {
    :where(.ld-option-internal__check) {
      color: var(--ld-thm-ocean-bg-primary);
    }

    &:where(:focus:focus-visible) {
      background-color: var(--ld-col-rb1);

      :where(.ld-option-internal__check) {
        color: var(--ld-col-rb-focus);
      }
    }
    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(--ld-col-rb1);

        :where(.ld-option-internal__check) {
          color: var(--ld-col-rb-hover);
        }
      }
    }
    &:where(:active),
    &:where(:active:focus-visible) {
      background-color: var(--ld-col-rb1);

      :where(.ld-option-internal__check) {
        color: var(--ld-col-rb-active);
      }
    }
  }
}

.ld-theme-bubblegum,
[class*='ld-theme'] .ld-theme-bubblegum,
.ld-theme-shake,
[class*='ld-theme'] .ld-theme-shake,
.ld-theme-solvent,
[class*='ld-theme'] .ld-theme-solvent {
  :where(.ld-option-internal) {
    &:where(:focus:focus-visible):before {
      box-shadow: inset 0 0 0 0.1rem var(--ld-col-rp-default);
    }

    &:where(:not([disabled]):not([aria-disabled='true'])) {
      :where(.ld-option-internal__check) {
        color: var(--ld-col-rp-default);
      }

      &:where(:focus:focus-visible) {
        background-color: var(--ld-col-rp1);

        :where(.ld-option-internal__check) {
          color: var(--ld-col-rp-focus);
        }
      }
      @media (hover: hover) {
        &:where(:hover) {
          background-color: var(--ld-col-rp1);

          :where(.ld-option-internal__check) {
            color: var(--ld-col-rp-hover);
          }
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        background-color: var(--ld-col-rp1);

        :where(.ld-option-internal__check) {
          color: var(--ld-col-rp-active);
        }
      }
    }
  }
}

.ld-theme-tea,
[class*='ld-theme'] .ld-theme-tea {
  :where(.ld-option-internal) {
    &:where(:focus:focus-visible):before {
      box-shadow: inset 0 0 0 0.1rem var(--ld-thm-tea-bg-primary);
    }

    &:where(:not([disabled]):not([aria-disabled='true'])) {
      :where(.ld-option-internal__check) {
        color: var(--ld-thm-tea-bg-primary);
      }

      &:where(:focus:focus-visible) {
        background-color: var(--ld-col-rg1);

        :where(.ld-option-internal__check) {
          color: var(--ld-col-rg-focus);
        }
      }
      @media (hover: hover) {
        &:where(:hover) {
          background-color: var(--ld-col-rg1);

          :where(.ld-option-internal__check) {
            color: var(--ld-col-rg-hover);
          }
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        background-color: var(--ld-col-rg1);

        :where(.ld-option-internal__check) {
          color: var(--ld-col-rg-active);
        }
      }
    }
  }
}
