.ld-theme-ocean,
[class*='ld-theme'] .ld-theme-ocean {
  .ld-toggle {
    --ld-toggle-bg-color-checked: var(--ld-thm-ocean-bg-primary);
    --ld-toggle-bg-color-checked-disabled: var(--ld-col-rb2);
    --ld-toggle-with-icons-knob-color: var(--ld-thm-ocean-bg-primary);
  }
}

.ld-theme-tea,
[class*='ld-theme'] .ld-theme-tea {
  .ld-toggle {
    --ld-toggle-bg-color-checked: var(--ld-thm-tea-bg-primary);
    --ld-toggle-bg-color-checked-disabled: var(--ld-col-rg2);
    --ld-toggle-with-icons-knob-color: var(--ld-thm-tea-bg-primary);
  }
}

.ld-theme-bubblegum,
[class*='ld-theme'] .ld-theme-bubblegum {
  .ld-toggle {
    --ld-toggle-bg-color-checked: var(--ld-thm-bubblegum-bg-primary);
    --ld-toggle-bg-color-checked-disabled: var(--ld-col-rp2);
    --ld-toggle-with-icons-knob-color: var(--ld-thm-bubblegum-bg-primary);
  }
}

.ld-theme-shake,
[class*='ld-theme'] .ld-theme-shake {
  .ld-toggle {
    --ld-toggle-bg-color-checked: var(--ld-thm-shake-bg-primary);
    --ld-toggle-bg-color-checked-disabled: var(--ld-col-rp2);
    --ld-toggle-with-icons-knob-color: var(--ld-thm-shake-bg-primary);
  }
}

.ld-theme-solvent,
[class*='ld-theme'] .ld-theme-solvent {
  .ld-toggle {
    --ld-toggle-bg-color-checked: var(--ld-thm-solvent-bg-primary);
    --ld-toggle-bg-color-checked-disabled: var(--ld-col-rp2);
    --ld-toggle-with-icons-knob-color: var(--ld-thm-solvent-bg-primary);
  }
}
