.ld-toggle {
  --ld-toggle-height: 2rem;
  --ld-toggle-width: 3.375rem;
  --ld-toggle-inner-space: 0.125rem;

  align-items: center;
  display: flex;
  height: var(--ld-toggle-height);
  min-width: auto !important;
  position: relative;
  transition: background-color 200ms ease-in-out;
  width: var(--ld-toggle-width);

  input {
    background-color: var(--ld-col-rblck4);
    border-radius: var(--ld-br-full);
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    &:not(:disabled):not([aria-disabled='true']) {
      cursor: pointer;
    }

    &:checked ~ .ld-toggle__knob {
      transform: translateX(
        calc(var(--ld-toggle-width) - var(--ld-toggle-height))
      );
    }

    &:disabled,
    &[aria-disabled='true'] {
      background-color: var(--ld-col-bg-g);
    }
  }

  .ld-toggle__knob {
    background-color: var(--ld-col-wht);
    border-radius: var(--ld-br-full);
    display: block;
    height: calc(var(--ld-toggle-height) - var(--ld-toggle-inner-space) * 2);
    margin: var(--ld-toggle-inner-space);
    pointer-events: none;
    transition: transform 200ms ease-in-out;
    width: calc(var(--ld-toggle-height) - var(--ld-toggle-inner-space) * 2);
    z-index: 1;
  }
}

.ld-toggle--large {
  --ld-toggle-height: 2.5rem;
  --ld-toggle-width: 4.1875rem;
  --ld-toggle-inner-space: 0.1875rem;
}

.ld-toggle input:invalid,
.ld-toggle--invalid input {
  box-shadow: inset 0 0 0 0.1rem var(--ld-col-rr-default);
}

/* .ld-theme-ocean -> default */
.ld-toggle,
.ld-theme-ocean .ld-toggle,
[class*='ld-theme'] .ld-theme-ocean .ld-toggle {
  input {
    &:checked {
      background-color: var(--ld-thm-ocean-bg-primary);

      &:disabled,
      &[aria-disabled='true'] {
        background-color: rgb(160, 203, 236);
      }
    }
  }
}

.ld-theme-tea,
[class*='ld-theme'] .ld-theme-tea {
  .ld-toggle input {
    &:checked {
      background-color: var(--ld-thm-tea-bg-primary);

      &:disabled,
      &[aria-disabled='true'] {
        background-color: rgb(173, 214, 196);
      }
    }
  }
}

.ld-theme-bubblegum,
[class*='ld-theme'] .ld-theme-bubblegum {
  .ld-toggle input {
    &:checked {
      background-color: var(--ld-thm-bubblegum-bg-primary);

      &:disabled,
      &[aria-disabled='true'] {
        background-color: rgb(172, 152, 216);
      }
    }
  }
}

.ld-theme-shake,
[class*='ld-theme'] .ld-theme-shake {
  .ld-toggle input {
    &:checked {
      background-color: var(--ld-thm-shake-bg-primary);

      &:disabled,
      &[aria-disabled='true'] {
        background-color: rgb(172, 152, 216);
      }
    }
  }
}

.ld-theme-solvent,
[class*='ld-theme'] .ld-theme-solvent {
  .ld-toggle input {
    &:checked {
      background-color: var(--ld-thm-solvent-bg-primary);

      &:disabled,
      &[aria-disabled='true'] {
        background-color: rgb(172, 152, 216);
      }
    }
  }
}
