
<!doctype html>
<html lang="en">
<head>
  <base href="/liquid/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liquid – Screen Reader Only</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/liquid/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/liquid/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/liquid/assets/favicon-16x16.png">
  <link rel="manifest" href="/liquid/assets/site.webmanifest">
  <link rel="mask-icon" href="/liquid/assets/safari-pinned-tab.svg" color="#eb3c96">
  <meta name="msapplication-TileColor" content="#eb3c96">
  <meta name="theme-color" content="#ffffff">

  <script>
    __docsSearchIndex__ = [{
              title: 'CSS vs. Web Components',
              tags: '',
              url: '/liquid/liquid/components-assets/',
              headings: 'Tweaking the bundler and adjusting the assets path',
              breadcrumbs: [
                
                'Liquid','CSS vs. Web Components']
            },{
              title: 'Components',
              tags: '',
              url: '/liquid/components/',
              headings: 'Status',
              breadcrumbs: [
                
                ]
            },{
              title: 'Button',
              tags: '',
              url: '/liquid/components/ld-button/',
              headings: 'ExamplesPrimaryDisabledSecondaryOn brand colorSecondary on brand colorGhostHighlightDangerSizeWith iconWith custom widthJustify contentMulti-lineAnchor buttonProperties',
              breadcrumbs: [
                
                'Components','Button']
            },{
              title: 'Checkbox',
              tags: '',
              url: '/liquid/components/ld-checkbox/',
              headings: 'ExamplesPrimaryDisabledDarkHighlightInvalidDangerWith labelWith label and input messageInput validationPropertiesDependenciesUsed byGraph',
              breadcrumbs: [
                
                'Components','Checkbox']
            },{
              title: 'Heading',
              tags: '',
              url: '/liquid/components/ld-heading/',
              headings: 'ExamplesWith heading levelWith deviating visual level b*With deviating visual level xh*With deviating visual level xb*Heading colorsProperties',
              breadcrumbs: [
                
                'Components','Heading']
            },{
              title: 'Icon',
              tags: '',
              url: '/liquid/components/ld-icon/',
              headings: 'Web ComponentDifferent sizesColorWith custom SVG iconPropertiesSlots',
              breadcrumbs: [
                
                'Components','Icon']
            },{
              title: 'Input Message',
              tags: '',
              url: '/liquid/components/ld-input-message/',
              headings: 'ExamplesAs error messageAs info messageAs success messageProperties',
              breadcrumbs: [
                
                'Components','Input Message']
            },{
              title: 'Input',
              tags: '',
              url: '/liquid/components/ld-input/',
              headings: 'ExamplesDefaultDisabledDarkInvalidType dateType emailType fileType numberType passwordType searchType telType timeType urlMultiline (as textarea)SizeWith labelWith label and input messageWith slotted elementsInput validationPropertiesSlots',
              breadcrumbs: [
                
                'Components','Input']
            },{
              title: 'Label',
              tags: '',
              url: '/liquid/components/ld-label/',
              headings: 'ExampleSizePositionProperties',
              breadcrumbs: [
                
                'Components','Label']
            },{
              title: 'Paragraph',
              tags: '',
              url: '/liquid/components/ld-paragraph/',
              headings: 'ExamplesDefault paragraphSizesProperties',
              breadcrumbs: [
                
                'Components','Paragraph']
            },{
              title: 'Radio Button',
              tags: '',
              url: '/liquid/components/ld-radio/',
              headings: 'ExamplesPrimaryDisabledDarkHighlightInvalidDangerWith labelWith label and input messageInput validationProperties',
              breadcrumbs: [
                
                'Components','Radio Button']
            },{
              title: 'Select',
              tags: '',
              url: '/liquid/components/ld-select/',
              headings: 'ExamplesSingle select modeMultiple select modeDisabledInvalidDetachedInlineGhostSizeWith custom trigger button iconWith labelWith label and input messageInput validationPropertiesEventsSlots',
              breadcrumbs: [
                
                'Components','Select']
            },{
              title: 'Screen Reader Live',
              tags: '',
              url: '/liquid/components/ld-sr-live/',
              headings: 'How it worksExampleProperties',
              breadcrumbs: [
                
                'Components','Screen Reader Live']
            },{
              title: 'Screen Reader Only',
              tags: '',
              url: '/liquid/components/ld-sr-only/',
              headings: 'ExamplesProperties',
              breadcrumbs: [
                
                'Components','Screen Reader Only']
            },{
              title: 'Theme',
              tags: '',
              url: '/liquid/components/ld-theme/',
              headings: 'How to apply a themeTheme inceptionProperties',
              breadcrumbs: [
                
                'Components','Theme']
            },{
              title: 'CSS vs. Web Components',
              tags: '',
              url: '/liquid/liquid/css-vs-web-components/',
              headings: 'When to use what',
              breadcrumbs: [
                
                'Liquid','CSS vs. Web Components']
            },{
              title: 'Getting started',
              tags: '',
              url: '/liquid/liquid/getting-started/',
              headings: 'Import and register Web Componentsself-lazy-loading bundlecustom-elements bundleImport stylesheets',
              breadcrumbs: [
                
                'Liquid','Getting started']
            },{
              title: 'Globals',
              tags: '',
              url: '/liquid/global/',
              headings: '',
              breadcrumbs: [
                
                ]
            },{
              title: 'Border-radius',
              tags: '',
              url: '/liquid/global/border-radius/',
              headings: '',
              breadcrumbs: [
                
                'Globals','Border-radius']
            },{
              title: 'Colors',
              tags: '',
              url: '/liquid/global/colors/',
              headings: 'White and Liquid BlackGrey scale colorsBackground grey scale colorsForeground grey scale colorsRich colorsRich BlueRich GreenRich PurpleRich RedVibrant colorsVibrant CyanVibrant GreenVibrant MagentaVibrant YellowTransparent colorsTheme palettesBubblegumOceanShakeSolventTea',
              breadcrumbs: [
                
                'Globals','Colors']
            },{
              title: 'Focus',
              tags: '',
              url: '/liquid/global/focus/',
              headings: '',
              breadcrumbs: [
                
                'Globals','Focus']
            },{
              title: 'Fonts',
              tags: '',
              url: '/liquid/global/fonts/',
              headings: '',
              breadcrumbs: [
                
                'Globals','Fonts']
            },{
              title: 'Shadows',
              tags: '',
              url: '/liquid/global/shadows/',
              headings: 'Box shadowsActiveHoverStackedStickyDrop-shadows (CSS filter)ActiveHoverStackedSticky',
              breadcrumbs: [
                
                'Globals','Shadows']
            },{
              title: 'Spacings',
              tags: '',
              url: '/liquid/global/spacings/',
              headings: '',
              breadcrumbs: [
                
                'Globals','Spacings']
            },{
              title: 'Typography',
              tags: '',
              url: '/liquid/global/typography/',
              headings: 'Available CSS custom properties',
              breadcrumbs: [
                
                'Globals','Typography']
            },{
              title: 'Server-side rendering',
              tags: '',
              url: '/liquid/liquid/server-side-rendering/',
              headings: 'Known issues and workarounds',
              breadcrumbs: [
                
                'Liquid','Server-side rendering']
            },{
              title: 'Type checking and intellisense',
              tags: '',
              url: '/liquid/liquid/type-checking-and-intellisense/',
              headings: 'With JSXWith vanilla HTML',
              breadcrumbs: [
                
                'Liquid','Type checking and intellisense']
            }
    ]
  </script>

  <link rel="stylesheet" href="/liquid/docs.css">
  <link rel="stylesheet" href="/liquid/dist/build/liquid.css">
  <script type="module" src="/liquid/dist/build/liquid.esm.js"></script>
  <script nomodule src="/liquid/dist/build/liquid.js"></script>
</head>
<body>
  <script>
    if (/Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor)) {
      document.body.classList.add('sarari')
    }

    var storedThemePref = window.localStorage.getItem('docs-theme')
    var isDark = storedThemePref === 'dark' ? true : false
    document.body.classList.add(`docs-theme-${this.isDark ? 'dark' : 'light'}`)
    document.body.classList.remove(
      `docs-theme-${!this.isDark ? 'dark' : 'light'}`
    )
  </script>
  <docs-layout id="docs-layout" style="visibility: hidden">
    <docs-topbar></docs-topbar>

    <docs-nav>
      
      

      <ul>
          <li class="docs-nav__li docs-nav__li--active"><details>
                <summary class="docs-nav__summary docs-nav__summary--liquid">
                  <a href="/liquid/"><span aria-label="Liquid">Liquid</span></a>
                </summary>
                <ul>
          <li class="docs-nav__li"><a href="/liquid/liquid/getting-started/">Getting started</a></li>
          <li class="docs-nav__li"><a href="/liquid/liquid/css-vs-web-components/">CSS vs. Web Components</a></li>
          <li class="docs-nav__li"><a href="/liquid/liquid/components-assets/">Component assets</a></li>
          <li class="docs-nav__li"><a href="/liquid/liquid/type-checking-and-intellisense/">Type checking and intellisense</a></li>
          <li class="docs-nav__li"><a href="/liquid/liquid/server-side-rendering/">Server-side rendering</a></li></ul>
              </details></li>
          <li class="docs-nav__li"><details>
                <summary class="docs-nav__summary docs-nav__summary--globals">
                  <a href="/liquid/global/"><span aria-label="Globals">Globals</span></a>
                </summary>
                <ul>
          <li class="docs-nav__li"><a href="/liquid/global/border-radius/">Border-radius</a></li>
          <li class="docs-nav__li"><a href="/liquid/global/colors/">Colors</a></li>
          <li class="docs-nav__li"><a href="/liquid/global/focus/">Focus</a></li>
          <li class="docs-nav__li"><a href="/liquid/global/fonts/">Fonts</a></li>
          <li class="docs-nav__li"><a href="/liquid/global/shadows/">Shadows</a></li>
          <li class="docs-nav__li"><a href="/liquid/global/spacings/">Spacings</a></li>
          <li class="docs-nav__li"><a href="/liquid/global/typography/">Typography</a></li></ul>
              </details></li>
          <li class="docs-nav__li docs-nav__li--active"><details open>
                <summary class="docs-nav__summary docs-nav__summary--components">
                  <a href="/liquid/components/"><span aria-label="Components">Components</span></a>
                </summary>
                <ul>
          <li class="docs-nav__li"><a href="/liquid/components/ld-button/">Button</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-checkbox/">Checkbox</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-heading/">Heading</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-icon/">Icon</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-input/">Input</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-input-message/">Input Message</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-label/">Label</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-paragraph/">Paragraph</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-radio/">Radio Button</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-sr-live/">Screen Reader Live</a></li>
          <li class="docs-nav__li docs-nav__li--active"><a href="/liquid/components/ld-sr-only/">Screen Reader Only</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-select/">Select</a></li>
          <li class="docs-nav__li"><a href="/liquid/components/ld-theme/">Theme</a></li></ul>
              </details></li></ul>
    </docs-nav>

    <docs-nav-backdrop></docs-nav-backdrop>

    <docs-btn-toggle-nav></docs-btn-toggle-nav>

    
      <docs-toc style="order: 2;">
        <nav class="docs-toc__nav">
        <ol><li><a href="#examples">Examples</a></li><li><a href="#properties">Properties</a></li></ol></nav>
      </docs-toc>
    

    <docs-main>
      <header><docs-breadcrumbs>
            
            <li>
                <a href="/liquid/components/">Components</a>
              </li><li>
              <a href="/liquid/components/ld-sr-only/" aria-current="page">Screen Reader Only</a>
            </li>
          </docs-breadcrumbs><docs-edit-on-github path="./src/liquid/components/ld-sr-only/readme.md"></docs-edit-on-github>
      </header>
      <h1 id="ld-sr-only">ld-sr-only <a class="header-anchor" href="#ld-sr-only"><span aria-label="" class="header-anchor__symbol">#</span></a></h1>
<p>Use <code>ld-sr-only</code> to hide an element visually without hiding it from screen readers.</p>
<p>The CSS class <code>ld-sr-only</code> works the same way as its Web Component counterpart, except that it can be applied to an HTML element directly while the Web Component wraps the element which needs to be only screen reader visible.</p>
<hr>
<h2 id="examples">Examples <a class="header-anchor" href="#examples"><span aria-label="" class="header-anchor__symbol">#</span></a></h2>
<docs-example code="%3Cld-sr-only%3EHello%20screen%20reader%3C%2Fld-sr-only%3E" code-css-component="%3Cspan%20class%3D%22ld-sr-only%22%3EHello%20screen%20reader%3C%2Fspan%3E"  opened themable>
<div slot="code">
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ld-sr-only</span><span class="token punctuation">></span></span>Hello screen reader<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ld-sr-only</span><span class="token punctuation">></span></span></code></pre>
</div><div slot="codeCssComponent">
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>ld-sr-only<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Hello screen reader<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">></span></span></code></pre>
</div><div slot="show"><ld-sr-only>Hello screen reader</ld-sr-only></div><div slot="showCssComponent"><span class="ld-sr-only">Hello screen reader</span></div></docs-example>
<!-- Auto Generated Below -->
<h2 id="properties">Properties <a class="header-anchor" href="#properties"><span aria-label="" class="header-anchor__symbol">#</span></a></h2>
<table>
<thead>
<tr>
<th>Property</th>
<th>Attribute</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>key</code></td>
<td><code>key</code></td>
<td>for tracking the node's identity when working with lists</td>
<td><code>string \| number</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td><code>ref</code></td>
<td><code>ref</code></td>
<td>reference to component</td>
<td><code>any</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
</table>
<hr>
<p><em>Built with <a href="https://stenciljs.com/">StencilJS</a></em></p>

    </docs-main>

  </docs-layout>
  <docs-search></docs-search>
</body>
</html>
