:host {
  background: var(--ld-col-neutral-050);
  border-radius: var(--ld-br-l);
  box-shadow: var(--ld-shadow-stacked);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: var(--ld-sp-12);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: var(--ld-sp-8);
  justify-items: center;
}

.ld-file-upload__progress {
  width: 100%;
}

.ld-file-upload__continue-button {
  width: 100%;
}

.ld-file-upload__delete-button {
  width: 100%;
}
