:host {
  background: var(--ld-col-neutral-050);
  border-radius: var(--ld-br-l);
  box-shadow: var(--ld-shadow-stacked);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: var(--ld-sp-12);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ld-sp-16);
  justify-items: center;
}

/* stylelint-disable-next-line csstools/use-nesting */
:host(.ld-file-upload--only-choose-file) {
  background: none;
  border-radius: none;
  box-shadow: none;
  box-sizing: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ld-file-upload__choose-file {
  width: 100%;
}

.ld-file-upload__error {
  background: var(--ld-col-rr-050);
  border-radius: var(--ld-br-l);
  border: var(--ld-sp-2) solid var(--ld-col-rr-600);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: var(--ld-sp-1);
  width: 15rem;
}

.ld-file-upload__progress {
  width: 100%;
}

.ld-file-upload__continue-button {
  width: 100%;
}

.ld-file-upload__delete-button {
  width: 100%;
}

.ld-file-upload__pause-all-button {
  width: 100%;
}

.ld-file-upload__continue-paused-button {
  width: 100%;
}

.ld-file-upload__input {
  visibility: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}

::slotted(*) {
  display: none;
}
