:host {
  margin: 0;
  /* padding: var(--ld-sp-24); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ld-file-upload-gap, var(--ld-sp-16));
  justify-items: center;
}

/* stylelint-disable-next-line csstools/use-nesting */
:host(.ld-file-upload--only-choose-file) {
  background: none;
  border-radius: none;
  box-shadow: none;
  box-sizing: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* stylelint-disable-next-line csstools/use-nesting */
:host(.ld-file-upload--only-circular-progress) {
  background: none;
  border-radius: none;
  box-shadow: none;
  box-sizing: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ld-file-upload__choose-file {
  width: 100%;
}

.ld-file-upload__progress {
  width: 100%;
}

.ld-file-upload__circular-progress {
  --ld-circular-progress-size: 9rem;
}

.ld-file-upload--circular-progress-error {
  --ld-circular-progress-bar-col: var(--ld-thm-error);
}

.ld-file-upload__buttons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ld-sp-8);
  justify-items: center;
  width: 100%;
}

.ld-file-upload__start-upload-button {
  width: 100%;
}

.ld-file-upload__delete-button {
  width: 100%;
}

.ld-file-upload__pause-all-button {
  width: 100%;
}

.ld-file-upload__continue-paused-button {
  width: 100%;
}

.ld-file-upload__input {
  visibility: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}
