:host {
  --ld-menu-item-height: 3.125rem;
  --ld-menu-item-border-width: 0.1875rem;
  --ld-menu-item-bg-color-active: var(--ld-thm-primary-active);
  --ld-menu-item-bg-color-focus: var(--ld-thm-primary-focus);
  --ld-menu-item-bg-color-hover: var(--ld-thm-primary-hover);
  --ld-menu-item-selected-border-color: var(--ld-thm-secondary);
  --ld-menu-item-text-color: var(--ld-col-wht);

  display: contents;
}

.ld-menu-item {
  text-decoration: none;
}

.ld-menu-item--tab {
  align-items: center;
  box-sizing: border-box;
  color: var(--ld-menu-item-text-color);
  display: flex;
  height: var(--ld-menu-item-height);
  padding: 0 var(--ld-sp-16);
  border: solid transparent;
  border-width: var(--ld-menu-item-border-width) 0;

  &:focus:focus-visible {
    background-color: var(--ld-menu-item-bg-color-focus);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--ld-menu-item-bg-color-hover);
    }
  }

  &:active {
    background-color: var(--ld-menu-item-bg-color-active);
  }

  &.ld-menu-item--selected {
    border-bottom-color: var(--ld-menu-item-selected-border-color);
  }
}

/* TODO: remove when sub-menus are supported */
::slotted(ld-menu) {
  display: none;
}
