:host {
  display: inline-flex;
}

.ld-menu {
  background: var(--ld-layer-2);
  border-radius: var(--ld-br-l);
  box-shadow: var(--ld-shadow-stacked);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: var(--ld-sp-12);
}
