.docs-pick-theme__fieldset {
  display: grid;
  grid-auto-flow: column;
  gap: var(--ld-sp-8);
  border: 0;
  padding: 0 var(--ld-sp-4);
}

.docs-pick-theme__label {
  position: relative;
  width: var(--ld-sp-16);
  height: var(--ld-sp-16);
  display: inline-flex;
  border-radius: var(--ld-br-full);
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--ld-br-full);
    z-index: 0;
    opacity: 0.2;
  }

  &::after {
    opacity: 1;
  }

  &:focus-within {
    &::before {
      opacity: 1;
    }
  }

  input {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.docs-pick-theme__label--checked {
  &::before {
    opacity: 1;
  }
}

.docs-pick-theme__label--ocean {
  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &:focus-within:focus-visible {
    box-shadow: 0 0 0 4px var(--ld-thm-ocean-bg-primary);
  }
  &::before {
    background-color: var(--ld-thm-ocean-accent);
  }
  &::before,
  &::after {
    box-shadow: 0 0 0 2px var(--ld-thm-ocean-accent);
  }
}
.docs-pick-theme__label--bubblegum {
  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &:focus-within:focus-visible {
    box-shadow: 0 0 0 4px var(--ld-thm-bubblegum-bg-primary);
  }
  &::before {
    background-color: var(--ld-thm-bubblegum-accent);
  }
  &::before,
  &::after {
    box-shadow: 0 0 0 2px var(--ld-thm-bubblegum-accent);
  }
}
.docs-pick-theme__label--shake {
  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &:focus-within:focus-visible {
    box-shadow: 0 0 0 4px var(--ld-thm-shake-bg-primary);
  }
  &::before {
    background-color: var(--ld-thm-shake-accent);
  }
  &::before,
  &::after {
    box-shadow: 0 0 0 2px var(--ld-thm-shake-accent);
  }
}
.docs-pick-theme__label--solvent {
  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &:focus-within:focus-visible {
    box-shadow: 0 0 0 4px var(--ld-thm-solvent-bg-primary);
  }
  &::before {
    background-color: var(--ld-thm-solvent-accent);
  }
  &::before,
  &::after {
    box-shadow: 0 0 0 2px var(--ld-thm-solvent-accent);
  }
}
.docs-pick-theme__label--tea {
  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &:focus-within:focus-visible {
    box-shadow: 0 0 0 4px var(--ld-thm-tea-bg-primary);
  }
  &::before {
    background-color: var(--ld-thm-tea-accent);
  }
  &::before,
  &::after {
    box-shadow: 0 0 0 2px var(--ld-thm-tea-accent);
  }
}
