.docs-pick-theme__fieldset {
  display: grid;
  grid-auto-flow: column;
  gap: var(--ld-sp-8);
  border: 0;
  padding: 0 var(--ld-sp-4);
}

.docs-pick-theme .ld-select__btn-trigger-text,
.docs-pick-theme__option .ld-option__label {
  text-transform: capitalize;
}
