docs-breadcrumbs,
.docs-breadcrumbs {
  min-height: 1.75rem;
  width: 100%;
}

.docs-breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font: var(--ld-typo-body-s);

  li:not(:last-of-type) {
    margin-right: var(--ld-sp-8);

    &::after {
      content: '';
      background-image: url('dist/build/assets/chevron.svg');
      background-repeat: no-repeat;
      width: 0.8rem;
      height: 1.375rem;
      margin-left: var(--ld-sp-12);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  a:not([href]),
  a[href='.'] {
    cursor: default;
    pointer-events: none;
  }
}
