ld-heading[visual-level*='b'],
.ld-heading--b1,
.ld-heading--b2,
.ld-heading--b3,
.ld-heading--b4,
.ld-heading--b5,
.ld-heading--b6,
.ld-heading--xb1,
.ld-heading--xb2,
.ld-heading--xb3 {
  .ld-theme-ocean :where(&),
  [class*='ld-theme'] .ld-theme-ocean :where(&) {
    color: var(--ld-col-rb-default);
  }

  .ld-theme-solvent :where(&),
  [class*='ld-theme'] .ld-theme-solvent :where(&),
  .ld-theme-bubblegum :where(&),
  [class*='ld-theme'] .ld-theme-bubblegum :where(&),
  .ld-theme-shake :where(&),
  [class*='ld-theme'] .ld-theme-shake :where(&) {
    color: var(--ld-col-rp-default);
  }

  .ld-theme-tea :where(&),
  [class*='ld-theme'] .ld-theme-tea :where(&) {
    color: var(--ld-col-rg-default);
  }
}
