:host {
  transition: transform var(--ld-sidenav-transition-duration) ease;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;

  &.ld-sidenav-slider--subnav-active {
    visibility: hidden;
  }

  ::slotted(:where(:not(ld-sidenav-separator):not(ld-sidenav-navitem):not(ld-sidenav-subnav))) {
    margin-bottom: var(--ld-sidenav-padding-y);
    transition: opacity var(--ld-sidenav-transition-duration-collapse-expand)
        var(--ld-sidenav-transition-delay-collapse-expand) linear,
      transform var(--ld-sidenav-transition-duration-collapse-expand) ease;
    will-change: opacity, transform; /* fixes flickering on slide */
  }

  ::slotted(.ld-sidenav-slider__hidden) {
    transition: opacity var(--ld-sidenav-transition-duration-collapse-expand)
        linear,
      visibility 0s var(--ld-sidenav-transition-duration-collapse-expand) linear,
      transform var(--ld-sidenav-transition-duration-collapse-expand) ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(var(--ld-sidenav-translate-x-delta));
  }

  ::slotted(.ld-sidenav-accordion) {
    transform: none;
  }
}
