:host {
  background: var(--ld-col-wht);
  border-radius: var(--ld-br-l);
  border: var(--ld-sp-2) dashed var(--ld-col-neutral-100);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* :host[highlighted] {
  background: var(--ld-col-rb-050);
} */

:host(.ld-choose-file--highlighted) {
  background: var(--ld-col-rb-050);
}

.ld-choose-file--sm {
  display: flex;
  flex-direction: row;
  gap: var(--ld-sp-40);
  align-items: center;
  margin: var(--ld-sp-16) var(--ld-sp-40) var(--ld-sp-16) var(--ld-sp-40);
  justify-content: center;

  .ld-choose-file__image {
    width: 5.5625rem;
    height: auto;
  }
}

.ld-choose-file--bg {
  display: flex;
  flex-direction: column;
  gap: var(--ld-sp-32);
  align-items: center;
  margin: var(--ld-sp-32) var(--ld-sp-40) var(--ld-sp-32) var(--ld-sp-40);
}

.ld-choose-file__text {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: var(--ld-sp-8);
  justify-items: center;
  position: relative;
  text-align: center;
}

/* ::slotted(*) {
  position: absolute;
  inset: 0;
  opacity: 0;
} */

/* ::slotted(input) {
  position: absolute;
  inset: 0;
  opacity: 0;
} */
