@define-mixin docs-typography-ui-light {
  .docs-typography {
    border-color: var(--ld-col-rblck1);
  }
}
@define-mixin docs-typography-ui-dark {
  .docs-typography {
    border-color: var(--ld-col-rblck4);
  }
}

@mixin docs-typography-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-typography-ui-dark;
}
.docs-ui-dark {
  @mixin docs-typography-ui-dark;
}
.docs-ui-light {
  @mixin docs-typography-ui-light;
}

.docs-typography {
  display: block;
  width: 100%;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-width: var(--ld-sp-1);
  color: var(--ld-col-rblck-default);
  background-color: var(--ld-col-wht);
  padding: var(--ld-sp-8) var(--ld-sp-16) var(--ld-sp-40) var(--ld-sp-8);

  &:first-of-type {
    border-top-left-radius: var(--ld-br-l);
    border-top-right-radius: var(--ld-br-l);
  }
  &:last-of-type {
    border-bottom-left-radius: var(--ld-br-l);
    border-bottom-right-radius: var(--ld-br-l);
  }
  &:not(:first-of-type) {
    border-top-width: 0;
  }
  &:not(:last-of-type) {
    border-bottom-width: 0;
  }
}

.docs-typography__var,
.docs-spacing__val {
  display: flex;
  border-radius: var(--ld-br-l);
  align-items: center;
  font: var(--ld-typo-body-s);
  font-family: 'Source Code Pro', Consolas, Monaco, 'Ubuntu Mono', monospace;
  flex-shrink: 0;
  white-space: nowrap;

  .docs-copy-to-cb {
    margin-right: var(--ld-sp-8);
  }
}

.docs-spacing__val {
  color: var(--ld-col-rblck3);
}

.docs-spacing__val,
.docs-typography__vis {
  display: block;
  padding-left: var(--ld-sp-8);
}
