
<!doctype html>
<html lang="en">
<head>
  <base href="/liquid/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liquid – Components</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/liquid/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/liquid/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/liquid/assets/favicon-16x16.png">
  <link rel="manifest" href="/liquid/assets/site.webmanifest">
  <link rel="mask-icon" href="/liquid/assets/safari-pinned-tab.svg" color="#eb3c96">
  <meta name="msapplication-TileColor" content="#eb3c96">
  <meta name="theme-color" content="#ffffff">

  <script>
    if ("serviceWorker" in navigator)
      navigator.serviceWorker.register("/liquid/service-worker.js");
  </script>

  <script>
    __docsSearchIndex__ = [
    
      
    
      
        
          
            {
              title: 'Component assets',
              tags: '',
              url: '/liquid/introduction/component-assets/',
              headings: 'Tweaking the bundler and adjusting the assets path',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Component assets'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'CSS vs. Web Components',
              tags: '',
              url: '/liquid/introduction/css-vs-web-components/',
              headings: 'When to use what',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'CSS vs. Web Components'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Design tokens',
              tags: '',
              url: '/liquid/introduction/design-tokens/',
              headings: 'Accessing Liquid’s design tokensRolling your own design tokens',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Design tokens'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'FAQ',
              tags: '',
              url: '/liquid/introduction/faq/',
              headings: 'Do I have the legal rights to use Liquid?Why should I use Liquid?Can I use Liquid with framework X?Which browsers are supported?What is Shadow DOM?Can I customize Liquid?What happened to liquid-design-react?Can Liquid Oxygen components be combined with the liquid-design-react library?Can I personally contribute to Liquid Oxygen?',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'FAQ'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Getting started',
              tags: '',
              url: '/liquid/introduction/getting-started/',
              headings: 'InstallImport and register Web ComponentsImport stylesheets',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Getting started'
                
              ]
            },
          
        
      
    
      
        
          
        
      
    
      
        
          
        
      
    
      
        
          
        
      
    
      
        
          
            {
              title: 'React bindings',
              tags: '',
              url: '/liquid/introduction/react-bindings/',
              headings: 'Custom Elements are defined automatically',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'React bindings'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Sandbox applications',
              tags: '',
              url: '/liquid/introduction/sandbox-applications/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Sandbox applications'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Server-side rendering',
              tags: '',
              url: '/liquid/introduction/server-side-rendering/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Server-side rendering'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tailwind CSS integration',
              tags: '',
              url: '/liquid/introduction/tailwindcss-integration/',
              headings: 'Previewing the Tailwind configDisabling Tailwind’s default configuration',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Tailwind CSS integration'
                
              ]
            },
          
        
      
    
      
        
          
        
      
    
      
        
          
            {
              title: 'Type checking and intellisense',
              tags: '',
              url: '/liquid/introduction/type-checking-and-intellisense/',
              headings: 'With JSXWith vanilla HTML',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Type checking and intellisense'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Why Liquid',
              tags: '',
              url: '/liquid/introduction/why-liquid/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Introduction',
                
                  'Why Liquid'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Introduction',
              tags: '',
              url: '/liquid/',
              headings: 'LinksContributingLicense',
              breadcrumbs: [
                
                
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Components',
              tags: '',
              url: '/liquid/components/',
              headings: 'Feature backlogMilestones',
              breadcrumbs: [
                
                
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Background Cells',
              tags: '',
              url: '/liquid/components/ld-bg-cells/',
              headings: 'DefaultCell typesCustom position, size and colorsCSS VariablesPropertiesShadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Background Cells'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Button',
              tags: '',
              url: '/liquid/components/ld-button/',
              headings: 'ExamplesPrimaryDisabledSecondaryGhostOn brand colorHighlightDangerSizeWith iconWith custom widthJustify contentMulti-lineAnchor buttonProgress buttonPropertiesMethodsfocusInner() =&gt; Promise&lt;void&gt;Shadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Button'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Checkbox',
              tags: '',
              url: '/liquid/components/ld-checkbox/',
              headings: 'ExamplesPrimaryDisabledIndeterminateDarkHighlightInvalidDangerWith labelWith label and input messageInput validationPropertiesMethodsfocusInner() =&gt; Promise&lt;void&gt;Shadow PartsDependenciesUsed byGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Checkbox'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Header',
              tags: '',
              url: '/liquid/components/ld-header/',
              headings: 'ExamplesDefaultWith linked logoWith custom logoWith buttonsWith burger menu buttonStickyHide on scrollCSS VariablesPropertiesSlotsShadow PartsDependenciesDepends onGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Header'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Icon',
              tags: '',
              url: '/liquid/components/ld-icon/',
              headings: 'ExamplesDifferent sizesColorWith custom SVG iconAvailable iconsPropertiesSlotsShadow PartsDependenciesUsed byGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Icon'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Input Message',
              tags: '',
              url: '/liquid/components/ld-input-message/',
              headings: 'ExamplesAs error messageAs info messageAs success messagePropertiesShadow PartsDependenciesDepends onGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Input Message'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Input',
              tags: '',
              url: '/liquid/components/ld-input/',
              headings: 'ExamplesDefaultDisabledDarkInvalidType dateType emailType fileType numberType passwordType searchType telType timeType urlMultiline (as textarea)SizeWith labelWith label and input messageWith slotted elementsInput validationPropertiesEventsMethodsfocusInner() =&gt; Promise&lt;void&gt;SlotsShadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Input'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Label',
              tags: '',
              url: '/liquid/components/ld-label/',
              headings: 'ExampleSizePositionAlign message with inputHTML ContentPropertiesShadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Label'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Loading Indicator',
              tags: '',
              url: '/liquid/components/ld-loading/',
              headings: 'CSS VariablesProperties',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Loading Indicator'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Notification',
              tags: '',
              url: '/liquid/components/ld-notification/',
              headings: 'How it worksAccessibilityNotifications with interactive contentNotification hierarchyNotification timeoutPreventing a timeoutTimeout handling for queued notificationsNotification contentRedundant notifications handlingDismissing notificaitonsDismissing current notificaitonClearing all notificationsThemingExamplesPropertiesShadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Notification'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Radio Button',
              tags: '',
              url: '/liquid/components/ld-radio/',
              headings: 'ExamplesPrimaryDisabledDarkHighlightInvalidDangerWith labelWith label and input messageInput validationPropertiesMethodsfocusInner() =&gt; Promise&lt;void&gt;Shadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Radio Button'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Option',
              tags: '',
              url: '/liquid/components/ld-select/ld-option/',
              headings: 'Properties',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Select',
                
                  'Option'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Select',
              tags: 'select,dropdown',
              url: '/liquid/components/ld-select/',
              headings: 'ExamplesSingle select modeMultiple select modeDisabledInvalidDetachedInlineGhostSizeWith custom trigger button iconWith labelWith label and input messageInput validationPropertiesEventsMethodsfocusInner() =&gt; Promise&lt;void&gt;SlotsShadow PartsDependenciesDepends onGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Select'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Screen Reader Live',
              tags: '',
              url: '/liquid/components/ld-sr-live/',
              headings: 'How it worksExamplePropertiesDependenciesDepends onGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Screen Reader Live'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Screen Reader Only',
              tags: '',
              url: '/liquid/components/ld-sr-only/',
              headings: 'ExamplesPropertiesDependenciesUsed byGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Screen Reader Only'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tab',
              tags: '',
              url: '/liquid/components/ld-tabs/ld-tab/',
              headings: 'PropertiesEventsMethodsfocusInner() =&gt; Promise&lt;void&gt;select() =&gt; Promise&lt;void&gt;Shadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Tabs',
                
                  'Tab'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tab List',
              tags: '',
              url: '/liquid/components/ld-tabs/ld-tablist/',
              headings: 'PropertiesShadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Tabs',
                
                  'Tab List'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tab Panel',
              tags: '',
              url: '/liquid/components/ld-tabs/ld-tabpanel/',
              headings: 'Properties',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Tabs',
                
                  'Tab Panel'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tab Panel List',
              tags: '',
              url: '/liquid/components/ld-tabs/ld-tabpanellist/',
              headings: 'Properties',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Tabs',
                
                  'Tab Panel List'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tabs',
              tags: '',
              url: '/liquid/components/ld-tabs/',
              headings: 'UsageDisabledGhostBrand colorRounded cornersSizeWith iconsWith many tabsFull widthEventsSelect a tab programmaticallyPropertiesEventsMethodsswitchTab(identifier: number | string) =&gt; Promise&lt;void&gt;',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Tabs'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Toggle',
              tags: '',
              url: '/liquid/components/ld-toggle/',
              headings: 'ExamplesPrimaryLargeInvalidDisabledWith iconsWith icons (disabled)With icons (invalid)With labelWith label and input messagePropertiesMethodsfocusInner() =&gt; Promise&lt;void&gt;Shadow Parts',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Toggle'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Tooltip',
              tags: '',
              url: '/liquid/components/ld-tooltip/',
              headings: 'DefaultWith arrowWith custom triggerOpen on clickPositioningShow/hide delayCSS VariablesPropertiesShadow PartsDependenciesDepends onGraph',
              breadcrumbs: [
                
                
                
                  
                  'Components',
                
                  'Tooltip'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Typography',
              tags: '',
              url: '/liquid/components/ld-typo/',
              headings: 'ExamplesDefaultParagraphsLabelsCaptionsHeadingsBranding variants b*Large heading variants xh*Large branding variants xb*Custom tagColorsPropertiesShadow PartsDependenciesUsed byGraph',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Components',
                
                  'Typography'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Animations',
              tags: '',
              url: '/liquid/global/animations/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Animations'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Globals',
              tags: '',
              url: '/liquid/global/',
              headings: '',
              breadcrumbs: [
                
                
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Border-radius',
              tags: '',
              url: '/liquid/global/border-radius/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Border-radius'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Colors',
              tags: '',
              url: '/liquid/global/colors/',
              headings: 'WhiteGrey scale colorsRich colorsRich BlueRich GreenRich PurpleRich RedVibrant colorsVibrant CyanVibrant GreenVibrant MagentaVibrant YellowSensitive ColorsTheme palettes',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Colors'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Focus',
              tags: '',
              url: '/liquid/global/focus/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Focus'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Fonts',
              tags: '',
              url: '/liquid/global/fonts/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Fonts'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Shadows',
              tags: '',
              url: '/liquid/global/shadows/',
              headings: 'Box shadowsActiveHoverStackedStickyDrop-shadows (CSS filter)ActiveHoverStackedSticky',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Shadows'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Spacings',
              tags: '',
              url: '/liquid/global/spacings/',
              headings: '',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Spacings'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Theming',
              tags: '',
              url: '/liquid/global/theming/',
              headings: 'How to apply a themeTheme inceptionCSS Custom PropertiesExamples',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Theming'
                
              ]
            },
          
        
      
    
      
        
          
            {
              title: 'Typography',
              tags: '',
              url: '/liquid/global/typography/',
              headings: 'Available CSS custom properties',
              breadcrumbs: [
                
                
                
                  
                  'Globals',
                
                  'Components',
                
                  'Typography'
                
              ]
            }
          
        
      
    
    ]
  </script>

  <link rel="stylesheet" href="/liquid/docs.css">
  <link rel="stylesheet" href="/liquid/dist/build/liquid.global.css">
  <link rel="stylesheet" href="/liquid/css_components/ld-button.css">
  <script type="module" src="/liquid/dist/build/liquid.esm.js"></script>
  <script nomodule src="/liquid/dist/build/liquid.js"></script>
</head>
<body>
  <script>
    if (/Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor)) {
      document.body.classList.add('sarari')
    }

    var storedThemePref = window.localStorage.getItem('docs-theme')
    var isDark = storedThemePref === 'dark' ? true : false
    document.body.classList.add(`docs-theme-${this.isDark ? 'dark' : 'light'}`)
    document.body.classList.remove(
      `docs-theme-${!this.isDark ? 'dark' : 'light'}`
    )
  </script>
  <docs-topbar></docs-topbar>
  <docs-layout id="docs-layout" style="visibility: hidden">
    <docs-nav>
      
      

      <ul>
        
        
      
        
      
        
      
        
      
        
      
        
          <li class="docs-nav__li">
            
              <details>
                <summary class="docs-nav__summary docs-nav__summary--introduction">
                  <a href="/liquid/"><span aria-label="Introduction">Introduction</span><div class="docs-nav__arrow"></div></a>
                  <div class="docs-nav__summary-toggle"></div>
                </summary>
                <ul>
                  
                    
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/why-liquid/">Why Liquid</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/getting-started/">Getting started</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/css-vs-web-components/">CSS vs. Web Components</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/component-assets/">Component assets</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/type-checking-and-intellisense/">Type checking and intellisense</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/server-side-rendering/">Server-side rendering</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/react-bindings/">React bindings</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/tailwindcss-integration/">Tailwind CSS integration</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/design-tokens/">Design tokens</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/sandbox-applications/">Sandbox applications</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/introduction/faq/">FAQ</a>
            
          </li>
        
      
                  
                </ul>
              </details>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <details>
                <summary class="docs-nav__summary docs-nav__summary--globals">
                  <a href="/liquid/global/"><span aria-label="Globals">Globals</span><div class="docs-nav__arrow"></div></a>
                  <div class="docs-nav__summary-toggle"></div>
                </summary>
                <ul>
                  
                    
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/animations/">Animations</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/border-radius/">Border-radius</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/colors/">Colors</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/focus/">Focus</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/fonts/">Fonts</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/shadows/">Shadows</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/spacings/">Spacings</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/theming/">Theming</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/global/typography/">Typography</a>
            
          </li>
        
      
                  
                </ul>
              </details>
            
          </li>
        
      
        
          <li class="docs-nav__li docs-nav__li--active">
            
              <details open>
                <summary class="docs-nav__summary docs-nav__summary--components">
                  <a href="/liquid/components/"><span aria-label="Components">Components</span><div class="docs-nav__arrow"></div></a>
                  <div class="docs-nav__summary-toggle"></div>
                </summary>
                <ul>
                  
                    
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-bg-cells/">Background Cells</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-button/">Button</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-checkbox/">Checkbox</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-header/">Header</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-icon/">Icon</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-input/">Input</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-input-message/">Input Message</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-label/">Label</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-loading/">Loading Indicator</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-notification/">Notification</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-radio/">Radio Button</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-sr-live/">Screen Reader Live</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-sr-only/">Screen Reader Only</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <details>
                <summary class="docs-nav__summary docs-nav__summary--select">
                  <a href="/liquid/components/ld-select/"><span aria-label="Select">Select</span><div class="docs-nav__arrow"></div></a>
                  <div class="docs-nav__summary-toggle"></div>
                </summary>
                <ul>
                  
                    
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-select/ld-option/">Option</a>
            
          </li>
        
      
                  
                </ul>
              </details>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <details>
                <summary class="docs-nav__summary docs-nav__summary--tabs">
                  <a href="/liquid/components/ld-tabs/"><span aria-label="Tabs">Tabs</span><div class="docs-nav__arrow"></div></a>
                  <div class="docs-nav__summary-toggle"></div>
                </summary>
                <ul>
                  
                    
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-tabs/ld-tab/">Tab</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-tabs/ld-tablist/">Tab List</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-tabs/ld-tabpanel/">Tab Panel</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-tabs/ld-tabpanellist/">Tab Panel List</a>
            
          </li>
        
      
                  
                </ul>
              </details>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-toggle/">Toggle</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-tooltip/">Tooltip</a>
            
          </li>
        
      
        
          <li class="docs-nav__li">
            
              <a href="/liquid/components/ld-typo/">Typography</a>
            
          </li>
        
      
                  
                </ul>
              </details>
            
          </li>
        
      
      </ul>
    </docs-nav>

    <docs-nav-backdrop></docs-nav-backdrop>

    <docs-btn-toggle-nav></docs-btn-toggle-nav>

    
      <docs-toc style="order: 2;">
        <nav class="docs-toc__nav" >
        <ol><li><a href="#feature-backlog">Feature backlog</a></li><li><a href="#milestones">Milestones</a></li></ol>
      </nav>
      </docs-toc>
    

    <docs-main>
      <header>
        
          <docs-breadcrumbs>
            
            
            
            <li>
              <a href="/liquid/components/" aria-current="page">Components</a>
            </li>
          </docs-breadcrumbs>
        
        <docs-edit-on-github path="./src/liquid/components/index.md"></docs-edit-on-github>
      </header>
      <h1 id="components">Components <a class="header-anchor" href="components/#components"><span aria-label="" class="header-anchor__symbol">#</span></a></h1>
<p>Liquid's components allow you to quickly construct the UI of your app.</p>
<p>If you do not find a component that you need within Liquid, it may be because it has not been implemented yet. In that case it is either already listed in our <a href="components/#feature-backlog">feature backlog</a>, and you can upvote or comment on the respective issue, or it has not been added to the backlog yet, and you can <a href="components/#submitting-a-feature-request">create a feature request</a> yourself.</p>
<h2 id="feature-backlog">Feature backlog <a class="header-anchor" href="components/#feature-backlog"><span aria-label="" class="header-anchor__symbol">#</span></a></h2>
<p>We manage our <a href="https://github.com/emdgroup-liquid/liquid/issues?q=sort%3Areactions-%2B1-desc+label%3Afeature">feature backlog on GitHub</a> and prioritise issues based on upvotes. Upvote the top comment of an issue with 👍 if you want that feature to be prioritised higher. To request a new feature, please <a href="components/#submitting-a-feature-request">submit a feature request</a>.</p>
<!-- TODO: Replace with <ld-message /> component, as soon as it exists. -->
<style>
  #before-blue-info-box + blockquote {
    background: var(--ld-thm-primary-highlight);
    border-color: var(--ld-thm-primary);
    color: var(--ld-thm-primary-active);
  }
</style>
<div id="before-blue-info-box"></div>
<blockquote>
<h1 id="submitting-a-feature-request"><strong>Submitting a feature request</strong> <a class="header-anchor" href="components/#submitting-a-feature-request"><span aria-label="" class="header-anchor__symbol">#</span></a></h1>
<p>If you have a suggestion for a new component not listed in the <a href="components/#feature-backlog">feature backlog</a> or would like to suggest a new feature for an existing component, you can create a <a href="https://github.com/emdgroup-liquid/liquid/issues/new?template=feature_request.md">feature request on GitHub</a>. Please read our <a href="https://github.com/emdgroup-liquid/liquid/blob/develop/CONTRIBUTING.md#requesting-new-features">contributing guidelines on submitting feature requests</a> before submitting your first request.</p>
</blockquote>
<h2 id="milestones">Milestones <a class="header-anchor" href="components/#milestones"><span aria-label="" class="header-anchor__symbol">#</span></a></h2>
<p>To give you an overview when to expect new features, we are using <a href="https://github.com/emdgroup-liquid/liquid/milestones">GitHub milestones</a>. All milestones are tied to a due date giving you an orientation on the estimated time of arrival for the new features that are assigned to these milestones. If you want to know about when to expect a certain feature that is no longer labeled as <strong>needed: votes</strong> and you can't find it in any of the existing milestones, please feel free to reach out to us by leaving a comment in the feature request issue or using our <a href="https://teams.microsoft.com/l/channel/19%3ab5381a933c6c413ea0ae41c3b424acd8%40thread.skype/Liquid%2520Design%2520System?groupId=babb6c18-c13f-43ef-baf2-ce1617f228cd&amp;tenantId=db76fb59-a377-4120-bc54-59dead7d39c9">Teams channel</a>.</p>

      
        <docs-contributors contributors='["borisdiakur","renet"]'></docs-contributors>
      
    </docs-main>

  </docs-layout>
  <docs-search></docs-search>
</body>
</html>
