ld-label {
  line-height: 1;
}

.ld-label {
  font: var(--ld-typo-label-s);
  display: inline-grid;
  flex-direction: column;
  gap: var(--ld-sp-6);
  max-width: 100%;
  align-self: flex-start;

  ld-label & {
    width: 100%;
  }
}

:where(.ld-label[disabled]) {
  color: var(--ld-col-rblck2);
}
