:host {
  display: flex;
}

.ld-upload-progress {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 22rem;
  overflow: hidden;
  overflow-y: scroll;
  border: var(--ld-sp-2) solid var(--ld-col-neutral-100);
  border-radius: var(--ld-br-l);
  gap: var(--ld-sp-2);
  background-color: var(--ld-col-neutral-100);
  flex-direction: column;
}
