@define-mixin docs-nav-ui-light {
  .docs-nav__content {
    background-color: var(--ld-col-bg-lg);
    box-shadow: 1px 0 0 0 var(--ld-col-rblck1);
  }
  .docs-nav::before {
    background-color: var(--ld-col-bg-lg);
  }
  .docs-nav__section {
    border-bottom-color: var(--ld-col-rblck1);
  }
}
@define-mixin docs-nav-ui-dark {
  .docs-nav__content {
    background-color: var(--ld-col-rblck-default);
    box-shadow: 1px 0 0 0 var(--ld-col-rblck4);
  }
  .docs-nav::before {
    background-color: var(--ld-col-rblck-default);
  }
  .docs-nav__section {
    border-bottom-color: var(--ld-col-rblck5);
  }
}

@mixin docs-nav-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-nav-ui-dark;
}
.docs-ui-dark {
  @mixin docs-nav-ui-dark;
}
.docs-ui-light {
  @mixin docs-nav-ui-light;
}

.docs-nav {
  font: var(--ld-typo-body-s);
  overscroll-behavior: contain;
  overflow: hidden auto;
  z-index: 1;
  flex-shrink: 0;

  &::before {
    content: '';
    position: fixed;
    height: 100%;
    left: 0;
    z-index: -1;
    display: block;
    width: calc(50vw - var(--docs-max-width) / 2 + 2rem);
  }

  ul {
    list-style: none;
  }

  details[open] summary::after {
    transform: rotate(90deg);
  }

  summary {
    position: relative;
    font: var(--ld-typo-label-s);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin: var(--ld-sp-24) 0 var(--ld-sp-6);
    width: 100%;
    user-select: none;

    @media (hover: none) {
      outline: none;
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: var(--ld-sp-2);
      background-image: url('/dist/build/assets/chevron.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 0.8rem;
      height: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  .docs-switch-dark-light {
    margin-bottom: var(--ld-sp-32);
    display: block;
  }
}

.docs-nav__content {
  width: var(--docs-nav-width);
  position: fixed;
  height: calc(100% - var(--docs-topbar-height));
  overflow: hidden auto;
  overscroll-behavior: contain;
  padding: var(--ld-sp-24) var(--ld-sp-24) var(--ld-sp-24) var(--ld-sp-32);

  @media (max-width: 48rem) {
    position: fixed;
  }
}

.docs-nav__section {
  padding: var(--ld-sp-24) var(--ld-sp-8) var(--ld-sp-24) 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.docs-nav__nav {
  padding-left: var(--ld-sp-40);

  > ul > li:first-of-type {
    margin-top: 0;
  }
}

.docs-nav__summary {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: var(--ld-sp-24);
    height: var(--ld-sp-24);
    transform: translate(-170%, -15%);
  }
}

.docs-nav__summary--components::before {
  background-image: url('/dist/build/assets/components.svg');
}

.docs-nav__summary--global::before,
.docs-nav__summary--globals::before {
  background-image: url('/dist/build/assets/global.svg');
}

.docs-nav__li {
  margin-top: var(--ld-sp-12);
}

.docs-nav__li--active > a {
  font-weight: 700;
}
