:host {
  display: inline-flex;

  > :where(.ld-button) {
    width: 100%;
  }
}

:where(.ld-button) {
  --ld-button-icon-size-sm: 1rem;
  --ld-button-icon-size-md: 1.25rem;
  --ld-button-icon-size-lg: 1.5rem;
  --ld-button-icon-margin-x-sm: -0.125rem;
  --ld-button-icon-margin-x-md: -0.25rem;
  --ld-button-icon-margin-x-lg: -0.5rem;
  --ld-button-padding-x-sm: 0.625rem;
  --ld-button-padding-y-sm: 0.5rem;
  --ld-button-padding-x-md: 0.875rem;
  --ld-button-padding-y-md: 0.625rem;
  --ld-button-padding-x-lg: 1.3125rem;
  --ld-button-padding-y-lg: 0.75rem;
  --ld-button-gap-sm: 0.625rem;
  --ld-button-gap-md: 0.875rem;
  --ld-button-gap-lg: 1.1875rem;
  background-color: var(--ld-button-bg-color, var(--ld-thm-primary));
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font: var(--ld-typo-body-m);
  border: 0;
  overflow: hidden;
  transform: translateZ(0); /* fixes overflow issue in Safari */
  padding: var(--ld-button-padding-y-md) var(--ld-button-padding-x-md);
  border-radius: var(--ld-button-border-top-left-radius, var(--ld-br-m))
    var(--ld-button-border-top-right-radius, var(--ld-br-m))
    var(--ld-button-border-bottom-right-radius, var(--ld-br-m))
    var(--ld-button-border-bottom-left-radius, var(--ld-br-m));
  min-height: 2.5rem;
  min-width: 2.5rem;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  color: var(--ld-button-text-color, var(--ld-col-wht));
  display: grid;
  grid-auto-flow: column;
  gap: var(--ld-button-gap-md);
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  -webkit-touch-callout: none;

  &:where(:disabled),
  &:where([aria-disabled='true']) {
    opacity: 0.2;
  }

  &:where(:not(:disabled):not([aria-disabled='true'])) {
    cursor: pointer;

    &:where(:focus:focus-visible) {
      background-color: var(
        --ld-button-bg-color-focus,
        var(--ld-thm-primary-focus)
      );
      color: var(--ld-button-text-color-focus, var(--ld-thm-primary-active));
    }
    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(
          --ld-button-bg-color-hover,
          var(--ld-thm-primary-hover)
        );
        color: var(--ld-button-text-color-hover, var(--ld-col-wht));
      }
    }
    &:where(:active),
    &:where(:active:focus-visible) {
      background-color: var(
        --ld-button-bg-color-active,
        var(--ld-thm-primary-active)
      );
      color: var(--ld-button-text-color-active, var(--ld-col-wht));
    }
  }

  /* TODO: check if this is necessary or can be removed / moved to ld-icon.css */
  ::slotted(ld-icon),
  :where(ld-icon) {
    line-height: 0;
  }

  ::slotted(ld-icon),
  ::slotted(.ld-icon),
  > ld-icon,
  > .ld-icon {
    margin: auto var(--ld-button-icon-margin-x-md);
  }

  &:where(.ld-button--sm) {
    min-height: 2rem;
    min-width: 2rem;
    padding: var(--ld-button-padding-y-sm) var(--ld-button-padding-x-sm);
    font: var(--ld-typo-body-s);
    font-weight: 700;
    line-height: 1;
    gap: var(--ld-button-gap-sm);

    ::slotted(ld-icon),
    ::slotted(.ld-icon),
    > ld-icon,
    > .ld-icon {
      margin: auto var(--ld-button-icon-margin-x-sm);
    }
  }

  &:where(.ld-button--lg) {
    min-height: 3.125rem;
    min-width: 3.125rem;
    padding: var(--ld-button-padding-y-lg) var(--ld-button-padding-x-lg);
    font: var(--ld-typo-body-l);
    font-weight: 700;
    line-height: 1;
    gap: var(--ld-button-gap-lg);

    ::slotted(ld-icon),
    ::slotted(.ld-icon),
    > ld-icon,
    > .ld-icon {
      margin: auto var(--ld-button-icon-margin-x-lg);
    }
  }

  &:where(.ld-button--align-text-right) {
    text-align: right;
  }

  &:where(.ld-button--align-text-left) {
    text-align: left;
  }

  &:where(.ld-button--justify-start) {
    justify-content: flex-start;
  }

  &:where(.ld-button--justify-end) {
    justify-content: flex-end;
  }

  &:where(.ld-button--justify-between) {
    justify-content: space-between;
  }

  &:where(.ld-button--icon-only) {
    --ld-button-padding-x-sm: 0;
    --ld-button-padding-y-sm: 0;
    --ld-button-padding-x-md: 0;
    --ld-button-padding-y-md: 0;
    --ld-button-padding-x-lg: 0;
    --ld-button-padding-y-lg: 0;
  }

  &[aria-busy='true'] {
    cursor: progress;
  }
}

@keyframes ld-button-progress-pending {
  0% {
    transform: translateX(-100%);
    z-index: -1;
  }
  100% {
    transform: translateX(100%);
    z-index: -1;
  }
}

.ld-button__progress {
  --ld-button-progress: 0;
  position: absolute;
  inset: auto 0 0;
  z-index: -1;

  &::after {
    background-color: var(--ld-button-progress-color, var(--ld-thm-secondary));
    content: '';
    display: block;
    height: var(--ld-sp-4);
    transform: translateX(-100%)
      translateX(calc(var(--ld-button-progress) * 100%));
    transition: transform 0.2s ease;
  }

  &--pending {
    &::after {
      animation: ld-button-progress-pending 1s linear infinite;
    }
  }
}

.ld-button--highlight {
  background-color: var(--ld-button-highlight-bg-color, var(--ld-thm-warning));
  color: var(--ld-button-highlight-text-color, var(--ld-thm-warning-active));

  .ld-button__progress::after {
    background-color: var(
      --ld-button-highlight-progress-color,
      var(--ld-thm-warning-active)
    );
  }

  &:where(:not(:disabled):not([aria-disabled='true'])) {
    &:where(:focus:focus-visible) {
      background-color: var(
        --ld-button-highlight-bg-color-focus,
        var(--ld-thm-warning-focus)
      );
    }
    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(
          --ld-button-highlight-bg-color-hover,
          var(--ld-thm-warning-hover)
        );
      }
    }
    &:where(:active),
    &:where(:active:focus-visible) {
      background-color: var(
        --ld-button-highlight-bg-color-active,
        var(--ld-thm-warning-active)
      );

      color: var(
        --ld-button-highlight-text-color-active,
        var(--ld-thm-warning-hover)
      );

      .ld-button__progress::after {
        background-color: var(
          --ld-button-highlight-progress-active,
          var(--ld-thm-warning-hover)
        );
      }
    }
  }
}

.ld-button--danger {
  background-color: var(--ld-button-danger-bg-color, var(--ld-thm-error));
  color: var(--ld-button-danger-text-color, var(--ld-col-wht));

  .ld-button__progress::after {
    background-color: var(
      --ld-button-danger-progress-color,
      var(--ld-thm-error-hover)
    );
  }

  &:where(:not(:disabled):not([aria-disabled='true'])) {
    &:where(:focus:focus-visible) {
      background-color: var(
        --ld-button-danger-bg-color-focus,
        var(--ld-thm-error-focus)
      );

      .ld-button__progress::after {
        background-color: var(
          --ld-button-danger-progress-color,
          var(--ld-thm-error-active)
        );
      }
    }
    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(
          --ld-button-danger-bg-color-hover,
          var(--ld-thm-error-hover)
        );
        color: var(--ld-button-danger-text-color-hover, var(--ld-col-wht));

        .ld-button__progress::after {
          background-color: var(
            --ld-button-danger-progress-color,
            var(--ld-thm-error)
          );
        }
      }
    }
    &:where(:active),
    &:where(:active:focus-visible) {
      background-color: var(
        --ld-button-danger-bg-color-active,
        var(--ld-thm-error-active)
      );
      color: var(--ld-button-danger-text-color-active, var(--ld-col-wht));

      .ld-button__progress::after {
        background-color: var(
          --ld-button-danger-progress-color,
          var(--ld-thm-error)
        );
      }
    }
  }
}

.ld-button--secondary,
.ld-button--ghost {
  background-color: transparent;
  color: var(--ld-button-ghost-text-color, var(--ld-thm-primary));

  .ld-button__progress::after {
    background-color: var(
      --ld-button-ghost-progress-color,
      var(--ld-thm-primary)
    );
  }

  &:where(:not(:disabled):not([aria-disabled='true'])) {
    &:where(:focus:focus-visible) {
      color: var(
        --ld-button-ghost-text-color-focus,
        var(--ld-thm-primary-focus)
      );

      .ld-button__progress::after {
        background-color: var(
          --ld-button-ghost-progress-color-focus,
          var(--ld-thm-primary-focus)
        );
      }
    }
    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(
          --ld-button-ghost-bg-color-hover,
          var(--ld-thm-primary-alpha-lowest)
        );
        color: var(
          --ld-button-ghost-text-color-hover,
          var(--ld-thm-primary-hover)
        );

        .ld-button__progress::after {
          background-color: var(
            --ld-button-ghost-progress-color-hover,
            var(--ld-thm-primary-hover)
          );
        }
      }
    }
    &:where(:active),
    &:where(:active:focus-visible) {
      background-color: var(
        --ld-button-ghost-bg-color-active,
        var(--ld-thm-primary-alpha-low)
      );
      color: var(
        --ld-button-ghost-text-color-active,
        var(--ld-thm-primary-active)
      );

      .ld-button__progress::after {
        background-color: var(
          --ld-button-ghost-progress-color-active,
          var(--ld-thm-primary-active)
        );
      }
    }
  }
}

.ld-button--secondary {
  box-shadow: inset 0px 0px 0px 2px;
}

.ld-button--ghost {
  .ld-button__progress {
    background-color: var(
      --ld-button-ghost-progress-track-color,
      var(--ld-thm-primary-alpha-low)
    );
  }

  @media (hover: hover) {
    &:where(:hover) {
      .ld-button__progress {
        background-color: transparent;
      }
    }
  }
  &:where(:active),
  &:where(:active:focus-visible) {
    .ld-button__progress {
      background-color: transparent;
    }
  }
}

.ld-button--brand-color {
  &:where(:not(.ld-button--secondary):not(.ld-button--ghost)) {
    background-color: var(--ld-button-brand-bg-color, var(--ld-col-wht));
    color: var(--ld-button-brand-text-color, var(--ld-thm-primary));

    &:where(&:not(:disabled):not([aria-disabled='true'])) {
      &:where(:focus:focus-visible) {
        color: var(
          --ld-button-brand-text-color-focus,
          var(--ld-thm-primary-focus)
        );
      }
      @media (hover: hover) {
        &:where(:hover) {
          background-color: var(
            --ld-button-brand-bg-color-hover,
            var(--ld-col-wht-alpha-high)
          );
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        background-color: var(
          --ld-button-brand-bg-color-active,
          var(--ld-col-wht-alpha-medium)
        );
      }
    }
  }

  &.ld-button--secondary,
  &.ld-button--ghost {
    background-color: transparent;
    color: var(--ld-button-secondary-brand-text-color, var(--ld-col-wht));

    .ld-button__progress::after {
      background-color: var(
        --ld-button-secondary-brand-progress-color,
        var(--ld-col-wht)
      );
    }

    &:where(&:not(:disabled):not([aria-disabled='true'])) {
      &:where(:focus:focus-visible) {
        color: var(
          --ld-button-secondary-brand-text-color,
          var(--ld-col-wht-alpha-high)
        );

        .ld-button__progress::after {
          background-color: var(
            --ld-button-secondary-brand-progress-color-focus,
            var(--ld-col-wht-alpha-high)
          );
        }
      }
      @media (hover: hover) {
        &:where(:hover) {
          background-color: var(
            --ld-button-secondary-brand-bg-color-hover,
            var(--ld-col-wht-alpha-low)
          );
        }
      }
      &:where(:active),
      &:where(:active:focus-visible) {
        background-color: var(
          --ld-button-secondary-brand-bg-color-active,
          var(--ld-col-wht-alpha-lowest)
        );
        color: var(
          --ld-button-secondary-brand-text-color,
          var(--ld-col-wht-alpha-highest)
        );

        .ld-button__progress::after {
          background-color: var(
            --ld-button-secondary-brand-progress-color-active,
            var(--ld-col-wht-alpha-highest)
          );
        }
      }
    }
  }

  &.ld-button--secondary {
    box-shadow: inset 0px 0px 0px 2px;
  }
}
