.ld-header {
  &,
  :host(&) {
    --ld-header-height: 3.125rem;
    --ld-header-max-width: 90rem;

    background-color: var(--ld-thm-primary);
    color: var(--ld-col-wht);
    display: flex;
    justify-content: center;
    width: 100%;
    transition: transform 100ms ease-in-out;
  }

  :host(&.ld-header--sticky),
  &.ld-header--sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  :host(&.ld-header--hidden),
  &.ld-header--hidden {
    transform: translateY(calc(var(--ld-header-height) * -1));
  }
}

.ld-header__container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--ld-header-height);
  max-width: var(--ld-header-max-width);
  padding: 0 var(--ld-sp-16);
  width: 100%;
}

*:not(:first-child):not([mode='ghost']):not(.ld-button--ghost) {
  ::slotted(&),
  .ld-header__container > :where(&) {
    margin-left: var(--ld-sp-16);
  }
}

[mode='ghost']:not(:first-child),
.ld-button--ghost:not(:first-child) {
  ::slotted(&),
  .ld-header__container > :where(&) {
    margin: 0 calc(var(--ld-sp-8) * -1) 0 var(--ld-sp-8);
  }
}

[mode='ghost']:first-child,
.ld-button--ghost:first-child {
  ::slotted(&),
  .ld-header__container > :where(&) {
    margin: 0 calc(var(--ld-sp-8) * -1);
  }
}
