@define-mixin docs-page-nav-ui-light {
  .docs-page-nav__dark {
    display: none;
  }
  .docs-page-nav__light {
    display: block;
  }
}
@define-mixin docs-page-nav-ui-dark {
  .docs-page-nav__dark {
    display: block;
  }
  .docs-page-nav__light {
    display: none;
  }
}

@mixin docs-page-nav-ui-light;

/*
@media (prefers-color-scheme: dark) {
  @mixin docs-page-nav-ui-dark;
}
.docs-ui-dark {
  @mixin docs-page-nav-ui-dark;
}
.docs-ui-light {
  @mixin docs-page-nav-ui-light;
}
*/

.docs-page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.docs-page-nav__container {
  width: 100%;
}

.docs-page-nav__content {
  display: flex;
  grid-auto-flow: column;
  justify-content: space-between;
}

.docs-page-nav__pull,
.docs-page-nav__push {
  margin-bottom: var(--ld-sp-16);
  flex-shrink: 0;
}

.docs-page-nav__pull {
  margin-right: var(--ld-sp-16);
}

.docs-page-nav__push {
  margin-left: auto;

  .docs-page-nav--has-slot & {
    margin-right: var(--ld-sp-16);
  }
}

.docs-page-nav--has-slot {
  .docs-page-nav__container {
    width: auto;
  }

  & > :last-child {
    @media (width <= 51.2rem) {
      display: none;
    }
  }
}
