:host {
  display: block;
}

.ld-menuitem-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

:host(:not(:first-of-type)),
.ld-menuitem-group:not(:first-of-type) {
  border-top: solid var(--ld-sp-2) var(--ld-col-neutral-050);
  margin-top: var(--ld-sp-12);
  padding-top: var(--ld-sp-12);
}
