.ld-input-message {
  display: inline-grid;
  grid-auto-flow: column;
}

.ld-input-message--error {
  color: var(--ld-col-rr-default);
}

.ld-input-message__icon {
  transform: translateY(0.075rem);
  margin-top: var(--ld-sp-2);
  margin-right: var(--ld-sp-6);
}
