@define-mixin docs-btn-search-ui-light {
  .docs-btn-search__magnifier {
    stroke: var(--ld-col-gray);
  }
  .docs-btn-search__shortcut {
    fill: var(--ld-col-gray);
  }
}
@define-mixin docs-btn-search-ui-dark {
  .docs-btn-search__magnifier {
    stroke: var(--ld-col-wht);
  }
  .docs-btn-search__shortcut {
    fill: var(--ld-col-wht);
  }
}

@mixin docs-btn-search-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-btn-search-ui-dark;
}
.docs-ui-dark {
  @mixin docs-btn-search-ui-dark;
}
.docs-ui-light {
  @mixin docs-btn-search-ui-light;
}

.docs-btn-search__btn {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  color: inherit;
  width: 100%;
  font: var(--ld-typo-body-s);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.docs-btn-search__magnifier {
  margin-right: var(--ld-sp-6);
}

.docs-btn-search__shortcut {
  margin-left: auto;
}
