:host {
  --ld-slider-animation-duration: 0s;
  --ld-slider-disabled-thumb-box-shadow: 0 0 0 transparent;
  --ld-slider-thumb-box-shadow: var(--ld-slider-thumb-box-shadow-default);
  --ld-slider-thumb-box-shadow-default: var(--ld-shadow-stacked);
  --ld-slider-thumb-box-shadow-active: var(--ld-slider-thumb-box-shadow-default),
    0 0 0 var(--ld-sp-6) var(--ld-thm-primary-alpha-lowest);
  --ld-slider-thumb-box-shadow-hover: var(--ld-slider-thumb-box-shadow-default),
    0 0 0 var(--ld-sp-4) var(--ld-thm-primary-alpha-lowest);
  --ld-slider-thumb-col: var(--ld-col-wht);
  --ld-slider-disabled-thumb-col: var(--ld-col-neutral-200);
  --ld-slider-thumb-size: var(--ld-slider-thumb-size-md);
  --ld-slider-thumb-size-sm: var(--ld-sp-24);
  --ld-slider-thumb-size-md: var(--ld-sp-32);
  --ld-slider-thumb-size-lg: var(--ld-sp-40);
  --ld-slider-radius: calc(var(--ld-slider-thumb-size) / 2);
  --ld-slider-useful-width: calc(
    var(--ld-slider-width) - var(--ld-slider-thumb-size)
  );
  --ld-slider-diff: calc(var(--max) - var(--min));
  --ld-slider-indicator-size: var(--ld-sp-6);
  --ld-slider-margin: calc(
    (var(--ld-slider-thumb-size) - var(--ld-slider-indicator-size)) / 2 -
      0.0625rem
  );
  --ld-slider-padding: var(--ld-sp-32);
  --ld-slider-selected-col: var(--ld-slider-selected-col-default);
  --ld-slider-selected-col-default: var(--ld-thm-primary);
  --ld-slider-disabled-selected-col: var(--ld-col-neutral-200);

  @media (prefers-reduced-motion: no-preference) {
    --ld-slider-animation-duration: 0.15s;
  }

  display: grid;
  font: 700 1.125em ubuntu mono, consolas, monaco, monospace;
  grid-template-rows: max-content var(--ld-slider-thumb-size) max-content;
  margin: 0 calc(var(--ld-sp-8) - var(--ld-slider-padding));
  overflow: hidden;
  padding: 0 var(--ld-slider-padding);
  position: relative;
  min-width: var(--ld-slider-width);
  width: var(--ld-slider-width);
  z-index: 0;

  &::after,
  &::before {
    grid-column: 1;
    grid-row: 2;
    border-radius: var(--ld-slider-radius);
    background: var(--ld-col-neutral-100);
    content: '';
    align-self: center;
    height: var(--ld-sp-8);
    margin: 0 var(--ld-slider-margin);
  }

  &::after {
    background: var(--ld-slider-selected-col);
    mask: var(--fill);
    mask-composite: exclude;
  }

  &([disabled]),
  &([aria-disabled=true]) {
    --ld-slider-selected-col: var(--ld-slider-disabled-selected-col);
    --ld-slider-thumb-box-shadow-default: var(
      --ld-slider-disabled-thumb-box-shadow
    );
    --ld-slider-thumb-col: var(--ld-slider-disabled-thumb-col);

    .ld-slider__input {
      &::-webkit-slider-thumb {
        pointer-events: none;
        transform: scale(calc(2 / 3));
      }
      &::-moz-range-thumb {
        pointer-events: none;
        transform: scale(calc(2 / 3));
      }

      &:focus + .ld-slider__output--permanent::after {
        color: var(--ld-slider-selected-col-default);
      }

      &:focus:not(:focus-visible) + .ld-slider__output--permanent::after {
        color: inherit;
      }
    }
  }

  &(.ld-slider--padded) {
    padding-bottom: var(--ld-sp-6);
  }

  &(.ld-slider--sm) {
    --ld-slider-thumb-size: var(--ld-slider-thumb-size-sm);
  }

  &(.ld-slider--lg) {
    --ld-slider-thumb-size: var(--ld-slider-thumb-size-lg);
  }

  & * {
    --ld-slider-highlighted: 0;
    --ld-slider-not-highlighted: calc(1 - var(--ld-slider-highlighted));
    margin: 0;
    font: inherit;
  }

  .sr-only {
    position: absolute;
    clip-path: inset(50%);
  }

  .ld-slider__input {
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb,
    & {
      -webkit-appearance: none;
    }

    grid-column: 1;
    grid-row: 2;
    z-index: calc(2 + var(--ld-slider-highlighted));
    top: 0;
    left: 0;
    background: none;
    transition: filter var(--ld-slider-animation-duration) ease-out;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    cursor: grab;
    pointer-events: none;

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 100%;
      background: none;
    }
    &::-moz-range-track {
      width: 100%;
      height: 100%;
      background: none;
      z-index: 2;
    }

    &::-webkit-slider-thumb {
      border: none;
      box-sizing: border-box;
      width: var(--ld-slider-thumb-size);
      height: var(--ld-slider-thumb-size);
      border-radius: var(--ld-br-full);
      background: var(--ld-slider-thumb-col);
      box-shadow: var(--ld-slider-thumb-box-shadow);
      pointer-events: auto;
      will-change: transform;
    }
    &::-moz-range-thumb {
      border: none;
      box-sizing: border-box;
      width: var(--ld-slider-thumb-size);
      height: var(--ld-slider-thumb-size);
      border-radius: var(--ld-br-full);
      background: var(--ld-slider-thumb-col);
      box-shadow: var(--ld-slider-thumb-box-shadow);
      pointer-events: auto;
      will-change: transform;
    }

    &:active,
    &:focus-visible {
      outline: none;

      & + output {
        --ld-slider-highlighted: 1;
      }
    }

    &:focus,
    &:hover {
      --ld-slider-thumb-box-shadow: var(--ld-slider-thumb-box-shadow-hover);
    }

    &:active {
      --ld-slider-thumb-box-shadow: var(--ld-slider-thumb-box-shadow-active);
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: grabbing;
      outline: none;
      z-index: 2;
    }

    &:not(:active):not(:focus-visible):not(:hover) {
      --ld-slider-thumb-box-shadow: var(--ld-slider-thumb-box-shadow-default);
    }
  }

  .ld-slider__indicator,
  .ld-slider__value-label,
  .ld-slider__output {
    grid-column: 1;
    left: calc(
      (var(--c) - var(--min)) / var(--ld-slider-diff) *
        var(--ld-slider-useful-width) + var(--ld-slider-radius)
    );
    max-width: max-content;
    position: relative;
  }

  .ld-slider__indicator {
    aspect-ratio: 1;
    backdrop-filter: brightness(0.6) invert(1) hue-rotate(180deg);
    border-radius: var(--ld-br-full);
    grid-row: 2;
    height: var(--ld-slider-indicator-size);
    opacity: 0.5;
    top: var(--ld-slider-radius);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .ld-slider__value-label {
    font: var(--ld-typo-body-xs);
    grid-row: 3;
    transform: translate(-50%);

    &--first {
      left: var(--ld-slider-margin);
      transform: none;
    }

    &--last {
      left: auto;
      position: absolute;
      right: calc(var(--ld-slider-padding) + var(--ld-slider-margin));
      transform: none;
    }
  }

  .ld-slider__output {
    font: var(--ld-typo-body-xs);
    font-weight: 700;
    grid-row: 1;
    opacity: var(--ld-slider-highlighted);
    transform: translate(-50%) scale(max(0.8, var(--ld-slider-highlighted)));
    transition: opacity var(--ld-slider-animation-duration) ease-out,
      transform var(--ld-slider-animation-duration) ease-out;
    color: var(--ld-col-wht);
    content: counter(c) var(--u);
    counter-reset: c var(--c);
    margin-bottom: var(--ld-sp-16);

    &::before {
      background: var(--ld-slider-selected-col);
      border-radius: 5px;
      content: '';
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    &::after {
      content: counter(c) var(--u);
      counter-reset: c var(--c);
      display: block;
      padding: 0 var(--ld-sp-6);
    }

    &--permanent {
      color: var(--ld-slider-selected-col);
      opacity: 1;
      transform: translate(
        -50%,
        calc((var(--ld-slider-highlighted) - 1) * var(--ld-sp-12) * -1)
      );
      transition: transform var(--ld-slider-animation-duration) ease-out;

      &::before {
        opacity: var(--ld-slider-highlighted);
        transition: opacity var(--ld-slider-animation-duration) ease-out;
      }

      &::after {
        filter: invert(var(--ld-slider-highlighted))
          grayscale(var(--ld-slider-highlighted))
          contrast(max(1, calc(4 * var(--ld-slider-highlighted))));
        transition: filter var(--ld-slider-animation-duration) ease-out;
      }
    }
  }
}
