/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    margin: 0;
    padding: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    font-size: 100%; /* stylelint-disable-line */
    font-weight: normal;
  }
}
ul {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    list-style: none;
  }
}
button,
input,
select {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    margin: 0;
  }
}
*,
*::before,
*::after {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    box-sizing: inherit;
  }
}
img,
video {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    height: auto;
    max-width: 100%;
  }
}
iframe {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    border: 0;
  }
}
table {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
td,
th {
  &:where(:not(.docs-example__show *):not(.ld-tether-element *)) {
    padding: 0;
  }
}
