:host,
.ld-radio {
  /* layout */
  --ld-radio-size: 1.25rem;
  --ld-radio-dot-size: 0.625rem;

  /* colors */
  --ld-radio-col-bg: var(--ld-col-wht);
  --ld-radio-col-bg-active: var(--ld-col-bg-g);
  --ld-radio-col-border: var(--ld-col-rblck4);
  --ld-radio-col-disabled: var(--ld-col-rblck2);
  --ld-radio-col-bg-disabled: var(--ld-col-rblck1);
  --ld-radio-dark-col-bg: var(--ld-col-bg-g);
  --ld-radio-dark-col-bg-hover: var(--ld-col-rblck1);
  --ld-radio-dark-col-bg-active: var(--ld-col-rblck2);
  --ld-radio-checked-col: var(--ld-col-wht);
  --ld-radio-col-invalid: var(--ld-col-rr-default);
  --ld-radio-col-invalid-hover: var(--ld-col-rr-hover);
  --ld-radio-col-invalid-focus: var(--ld-col-rr-focus);
  --ld-radio-col-invalid-active: var(--ld-col-rr-active);
  --ld-radio-col-warn: var(--ld-col-vy-default);
  --ld-radio-col-warn-hover: var(--ld-col-vy-hover);
  --ld-radio-col-warn-focus: var(--ld-col-vy-focus);
  --ld-radio-col-warn-active: var(--ld-col-vy-active);

  /* themable colors */
  --ld-radio-thm-col: var(--ld-col-rb-default);
  --ld-radio-thm-col-hover: var(--ld-col-rb-hover);
  --ld-radio-thm-col-active: var(--ld-col-rb-active);
  --ld-radio-thm-col-focus: var(--ld-col-rb-focus);

  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: var(--ld-radio-size);
  height: var(--ld-radio-size);
  min-width: auto !important;
  box-sizing: border-box;

  input {
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;

    &:checked {
      ~ .ld-radio__dot {
        visibility: inherit;
      }
    }

    &:where(:disabled),
    &:where([aria-disabled='true']) {
      ~ .ld-radio__dot {
        background-color: var(--ld-radio-col-disabled);
      }
      ~ .ld-radio__box {
        background-color: transparent;
        box-shadow: inset 0 0 0 0.1rem var(--ld-radio-col-bg-disabled);
      }

      &:checked {
        ~ .ld-radio__box {
          background-color: var(--ld-radio-col-bg-disabled);
        }
      }
    }

    &:where(:not(:disabled):not([aria-disabled='true'])) {
      cursor: pointer;

      ~ .ld-radio__dot {
        background-color: var(--ld-radio-thm-col-active);
      }
      ~ .ld-radio__box {
        box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col);
      }

      &:focus:focus-visible {
        ~ .ld-radio__box {
          background-color: transparent;
          box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col-focus);
        }
      }
      &:active,
      &:active:focus-visible {
        ~ .ld-radio__box {
          background-color: var(--ld-radio-col-bg-active);
          box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col-active);
        }
      }

      &:checked {
        ~ .ld-radio__dot {
          background-color: var(--ld-radio-checked-col);
        }
        ~ .ld-radio__box {
          background-color: var(--ld-radio-thm-col);
          box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col);
        }

        &:focus:focus-visible {
          ~ .ld-radio__dot {
            background-color: var(--ld-radio-thm-col-active);
          }
          ~ .ld-radio__box {
            background-color: var(--ld-radio-thm-col-focus);
            box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col-focus);
          }
        }
        &:active,
        &:active:focus-visible {
          ~ .ld-radio__dot {
            background-color: var(--ld-radio-col-bg-active);
          }
          ~ .ld-radio__box {
            background-color: var(--ld-radio-thm-col-active);
            box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col-active);
          }
        }
      }
    }
  }

  :where(input:not(:disabled):not(input[aria-disabled='true'])) {
    ~ .ld-radio__box {
      background-color: var(--ld-radio-col-bg);
    }
  }

  @media (hover: hover) {
    &:hover {
      :where(input:not(:disabled):not(input[aria-disabled='true']))
        ~ .ld-radio__box {
        background-color: var(--ld-radio-col-bg);
        box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col-hover);
      }

      :where(input:not(:disabled):not(input[aria-disabled='true'])):checked {
        ~ .ld-radio__dot {
          background-color: var(--ld-radio-checked-col);
        }
        ~ .ld-radio__box {
          background-color: var(--ld-radio-thm-col-hover);
          box-shadow: inset 0 0 0 0.1rem var(--ld-radio-thm-col-hover);
        }
      }
    }
  }
}

.ld-radio.ld-radio--dark,
:host(.ld-radio.ld-radio--dark) {
  @media (hover: hover) {
    &:hover {
      input:not(:disabled):not(input[aria-disabled='true']):not(:checked) {
        ~ .ld-radio__box {
          background-color: var(--ld-radio-dark-col-bg-hover);
        }
      }
    }
  }

  input:not(:disabled):not(input[aria-disabled='true']):not(:checked) {
    ~ .ld-radio__box {
      background-color: var(--ld-radio-dark-col-bg);
    }

    &:active,
    &:active:focus-visible {
      ~ .ld-radio__box {
        background-color: var(--ld-radio-dark-col-bg-active);
      }
    }
  }
}

.ld-radio__dot {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
  width: var(--ld-radio-dot-size);
  height: var(--ld-radio-dot-size);
}

.ld-radio__box {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 0.1rem var(--ld-col-rblck4);
}

:host,
.ld-radio,
.ld-radio__dot,
.ld-radio__box {
  border-radius: var(--ld-br-full);
}

:host(.ld-radio--highlight),
.ld-radio--highlight {
  --ld-radio-thm-col: var(--ld-radio-col-warn);
  --ld-radio-thm-col-hover: var(--ld-radio-col-warn-hover);
  --ld-radio-thm-col-active: var(--ld-radio-col-warn-focus);
  --ld-radio-thm-col-focus: var(--ld-radio-col-warn-active);
}

:host(.ld-radio--invalid),
:host(.ld-radio--danger),
.ld-radio--invalid,
.ld-radio--danger {
  --ld-radio-thm-col: var(--ld-radio-col-invalid);
  --ld-radio-thm-col-hover: var(--ld-radio-col-invalid-hover);
  --ld-radio-thm-col-active: var(--ld-radio-col-invalid-focus);
  --ld-radio-thm-col-focus: var(--ld-radio-col-invalid-active);
}
