@define-mixin docs-contributors-ui-light {
  .docs-contributors__img {
    border-color: var(--ld-col-wht);
  }
}
@define-mixin docs-contributors-ui-dark {
  .docs-contributors__img {
    border-color: var(--ld-col-neutral-500);
  }
}

@mixin docs-contributors-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-contributors-ui-dark;
}
.docs-ui-light {
  @mixin docs-contributors-ui-light;
}
.docs-ui-dark {
  @mixin docs-contributors-ui-dark;
}

.docs-contributors {
  margin: var(--ld-sp-40) 0;
  display: block;

  hr {
    margin-bottom: var(--ld-sp-40);
    height: var(--ld-sp-1);
    border: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-left: calc(-1 * var(--ld-sp-8));
    }

    &:hover {
      z-index: 2;
    }
  }

  a {
    transition: transform 0.05s ease;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    color: var(--color-dodger-blue);
    border: 0;

    &:hover {
      border: 0;
      transform: scale(1.125);
      z-index: 1;
    }
  }
}

.docs-contributors__heading {
  margin-bottom: var(--ld-sp-12);
}

.docs-contributors__img {
  border-radius: var(--ld-br-full);
  border: var(--ld-sp-2) solid;
}
