@define-mixin docs-example-ui-light {
  .docs-example__code {
    background-color: var(--ld-col-bg-lg);
  }

  .docs-example__tools-scroll-container {
    background-color: var(--ld-col-rblck1);
    border-color: var(--ld-col-rblck1);
  }

  .docs-example__tools {
    stroke: var(--ld-col-rblck-default);

    .ld-button,
    .ld-select__btn-trigger {
      filter: none;
    }
  }
}
@define-mixin docs-example-ui-dark {
  .docs-example__code {
    background-color: var(--ld-col-rblck-default);
  }

  .docs-example__tools-scroll-container {
    background-color: var(--ld-col-rblck4);
    border-color: var(--ld-col-rblck4);
  }

  .docs-example__tools {
    stroke: var(--ld-col-wht);

    .ld-button,
    .ld-select__btn-trigger {
      filter: invert(1) hue-rotate(180deg);

      &:focus:focus-visible:not(:active) {
        .ld-icon {
          filter: invert(1) hue-rotate(180deg);
        }
      }
    }
  }
}

@mixin docs-example-ui-light;

@media (prefers-color-scheme: dark) {
  @mixin docs-example-ui-dark;
}
.docs-ui-light {
  @mixin docs-example-ui-light;
}
.docs-ui-dark {
  @mixin docs-example-ui-dark;
}

.docs-example {
  display: block;
}

.docs-example__code {
  overflow: hidden;
  display: none;
  border-bottom-left-radius: var(--ld-br-l);
  border-bottom-right-radius: var(--ld-br-l);

  pre {
    border-bottom-left-radius: var(--ld-br-l);
    border-bottom-right-radius: var(--ld-br-l);
  }
}

.docs-example__tools-scroll-container {
  position: relative;
  overflow: auto;
  display: flex;
  width: 100%;
  border-style: solid;
  border-width: var(--ld-sp-1);
  border-bottom-left-radius: var(--ld-br-l);
  border-bottom-right-radius: var(--ld-br-l);
}

.docs-example__tools {
  padding: var(--ld-sp-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  .docs-switch-web-css {
    margin-right: var(--ld-sp-24);
    flex-shrink: 0;
  }

  .docs-example__tool-buttons {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: flex-end;
    /*margin: -0.5rem 0;*/

    > :not(:first-child) {
      margin-left: var(--ld-sp-12);
    }
  }
}

.docs-example__show {
  background-color: var(--ld-col-bg-lg);
  color: var(--ld-col-rblck-default);
  border: var(--ld-sp-1) solid var(--ld-col-rblck1);
  border-bottom-width: 0;
  border-top-left-radius: var(--ld-br-l);
  border-top-right-radius: var(--ld-br-l);
  padding: 0 var(--ld-sp-8) var(--ld-sp-24);
  overflow: hidden;

  @media (max-width: 48rem) {
    padding: 0 0 var(--ld-sp-24);
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;

    > * {
      margin: var(--ld-sp-24) var(--ld-sp-24) 0;
      max-width: calc(100% - 2 * var(--ld-sp-24));
    }
  }
}
.docs-example__show--stacked {
  > div {
    flex-direction: column;
  }
}

.docs-example__show--brand {
  border-color: transparent;

  &.ld-theme-ocean {
    background-color: var(--ld-col-rb-default);
  }
  &.ld-theme-solvent,
  &.ld-theme-bubblegum,
  &.ld-theme-shake {
    background-color: var(--ld-col-rp-default);
  }
  &.ld-theme-tea {
    background-color: var(--ld-col-rg-default);
  }
}

.docs-example__show--light {
  background-color: var(--ld-col-wht);
}

.docs-example--code-visible {
  .docs-example__tools-scroll-container {
    border-radius: 0;
  }

  .docs-example__code {
    display: block;
  }
}

.docs-example--web-component {
  [slot='showCssComponent'],
  [slot='codeCssComponent'] {
    display: none;
  }
}

.docs-example--css-component {
  [slot='show'],
  [slot='code'] {
    display: none;
  }
}
