.ld-theme-highlight {
  background-color: var(--ld-col-vy-default);
  color: var(--ld-col-rblck-default);

  &:focus:focus-visible {
    background-color: var(--ld-col-vy-focus);
  }

  &:hover {
    background-color: var(--ld-col-vy-hover);
  }

  &:active,
  &:active:focus-visible {
    background-color: var(--ld-col-vy-active);
    color: var(--ld-col-wht);
  }

  &:disabled {
    background-color: transparent;
    color: var(--ld-col-disabled);
  }
}

/* .ld-theme-ocean -> default */
.ld-theme-bg-primary,
.ld-theme-ocean .ld-theme-bg-primary,
[class*='ld-theme'] .ld-theme-ocean .ld-theme-bg-primary {
  background-color: var(--ld-thm-ocean-bg-primary);
  color: var(--ld-col-wht);

  &:focus:focus-visible {
    background-color: var(--ld-col-rb-focus);
    color: var(--ld-thm-ocean-bg-secondary);
  }

  &:hover {
    background-color: var(--ld-col-rb-hover);
    color: var(--ld-col-wht);
  }

  &:active,
  &:active:focus-visible {
    background-color: var(--ld-col-rb-active);
  }

  &:disabled {
    background-color: transparent;
    color: var(--ld-col-disabled);
  }
}

.ld-theme-accent,
.ld-theme-ocean .ld-theme-accent,
[class*='ld-theme'] .ld-theme-ocean .ld-theme-accent {
  background-color: var(--ld-thm-ocean-accent);
  color: var(--ld-col-vc6);

  &:focus:focus-visible {
    background-color: var(--ld-col-vc-focus);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--ld-col-vc-hover);
      color: var(--ld-col-wht);
    }
  }

  &:active,
  &:active:focus-visible {
    background-color: var(--ld-col-vc-active);
  }

  &:disabled {
    background-color: transparent;
    color: var(--ld-col-disabled);
  }
}

.ld-theme-bubblegum,
[class*='ld-theme'] .ld-theme-bubblegum {
  .ld-theme-bg-primary {
    background-color: var(--ld-thm-bubblegum-bg-primary);

    &:focus:focus-visible {
      background-color: var(--ld-col-rp-focus);
      color: var(--ld-thm-bubblegum-bg-secondary);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-rp-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-rp-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }

  .ld-theme-accent {
    background-color: var(--ld-thm-bubblegum-accent);
    color: var(--ld-col-vc6);

    &:focus:focus-visible {
      background-color: var(--ld-col-vc-focus);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-vc-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-vc-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }
}

.ld-theme-shake,
[class*='ld-theme'] .ld-theme-shake {
  .ld-theme-bg-primary {
    background-color: var(--ld-thm-shake-bg-primary);

    &:focus:focus-visible {
      background-color: var(--ld-col-rp-focus);
      color: var(--ld-thm-shake-bg-secondary);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-rp-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-rp-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }

  .ld-theme-accent {
    background-color: var(--ld-thm-shake-accent);
    color: var(--ld-col-vm6);

    &:focus:focus-visible {
      background-color: var(--ld-col-vm-focus);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-vm-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-vm-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }
}

.ld-theme-solvent,
[class*='ld-theme'] .ld-theme-solvent {
  .ld-theme-bg-primary {
    background-color: var(--ld-thm-solvent-bg-primary);

    &:focus:focus-visible {
      background-color: var(--ld-col-rp-focus);
      color: var(--ld-thm-solvent-bg-secondary);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-rp-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-rp-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }

  .ld-theme-accent {
    background-color: var(--ld-thm-solvent-accent);
    color: var(--ld-col-vg6);

    &:focus:focus-visible {
      background-color: var(--ld-col-vg-focus);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-vg-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-vg-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }
}

.ld-theme-tea,
[class*='ld-theme'] .ld-theme-tea {
  .ld-theme-bg-primary {
    background-color: var(--ld-thm-tea-bg-primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-rg-hover);
      }
    }

    &:focus:focus-visible {
      background-color: var(--ld-col-rg-focus);
      color: var(--ld-thm-tea-bg-secondary);
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-rg-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }

  .ld-theme-accent {
    background-color: var(--ld-thm-solvent-accent);
    color: var(--ld-col-vg6);

    &:focus:focus-visible {
      background-color: var(--ld-col-vg-focus);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--ld-col-vg-hover);
        color: var(--ld-col-wht);
      }
    }

    &:active,
    &:active:focus-visible {
      background-color: var(--ld-col-vg-active);
    }

    &:disabled {
      background-color: transparent;
      color: var(--ld-col-disabled);
    }
  }
}
