.docs-topbar::part(container) {
  margin: 0 var(--ld-sp-4);
  min-width: 20rem;
  padding: 0 var(--ld-sp-24);
}

.docs-topbar__logo {
  display: block;
}

.docs-topbar__link {
  width: var(--ld-sp-24);
  height: var(--ld-sp-24);

  &:not(:last-of-type) {
    margin-right: var(--ld-sp-8);
  }

  @media (hover: hover) {
    transition: opacity 0.2s linear;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.docs-topbar__headlines {
  flex-grow: 1;
}

.docs-topbar__headline {
  color: var(--ld-col-wht);
  font-family: var(--ld-font-body);

  b {
    font-weight: 900;
    margin-right: var(--ld-sp-8);
  }
}

.docs-topbar__headline--long {
  @media (max-width: 40rem) {
    display: none;
  }
}

.docs-topbar__headline--short {
  display: none;

  @media (max-width: 40rem) {
    display: block;
  }
}
