.ld-link {
  --ld-link-font-size: 1rem;
  --ld-link-size-sm: 0.875rem;
  --ld-link-size-lg: 1.125rem;
  --ld-typo-link-brand-color: var(--ld-thm-primary);

  position: relative;
  display: inline-block;
  color: var(--ld-typo-link-brand-color);
  font-size: var(--ld-link-font-size);
  font-weight: 700;
  text-decoration: none;
  
  &--sm {
    --ld-link-font-size: var(--ld-link-size-sm);
  }
  
  &--lg {
    --ld-link-font-size: var(--ld-link-size-lg);
  }

  &:hover {
    color: var(--ld-thm-primary-hover);
    cursor: pointer;
  }

  &:focus {
    color: var(--ld-thm-primary-focus);
  }

  &:focus-visible {
    color: var(--ld-thm-primary-focus);
    outline: none;
  }

  &:visited,
  &:active {
    color: var(--ld-thm-primary-active);
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
    color: var(--ld-typo-link-brand-color);
  }
}

.ld-link__icon {
  --ld-icon-size-sm: 0.625rem;
  --ld-icon-size-md: 0.750rem;
  --ld-icon-size-lg: 0.875rem;
}