.ld-link {
  --ld-link-font-size: 1rem;
  --ld-link-size-sm: 0.875rem;
  --ld-link-size-lg: 1.125rem;
  --ld-typo-link-brand-color: var(--ld-thm-primary);

  display: inline-flex;
  align-items: center;
  color: var(--ld-typo-link-brand-color);
  text-decoration: none;
  font-weight: 700;
  font-family: var(--ld-font-body);
  
  &--sm {
    font-size: var(--ld-link-size-sm);
  }

  &--lg {
    font-size: var(--ld-link-size-lg);
  }

  &:hover {
    color: var(--ld-thm-primary-hover);
    cursor: pointer;
  }

  &:focus {
    color: var(--ld-thm-primary-focus);
  }

  &:focus-visible {
    color: var(--ld-thm-primary-focus);
    outline: none;
  }

  &:active {
    color: var(--ld-thm-primary-active);
  }

  &:where(:disabled),
  &:where([aria-disabled='true']),
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
    color: var(--ld-typo-link-brand-color);
  }
}

.ld-link__icon {
  --ld-icon-size-sm: 0.625rem;
  --ld-icon-size-md: 0.750rem;
  --ld-icon-size-lg: 0.875rem;

  &::part(arrow-right) {
    stroke-width: 3;
  }
}